Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*

Refine per-node execution guard with fresh-state merge and mutation protection
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Workflow editor BE integration
  .gitignore
  Makefile
  README.md
  frontend/playwright.config.throttled.ts
  frontend/playwright.config.ts
Due: lint-frontend, e2e-frontend

Fix execute-response merge: normalize array format, preserve children, reconcile parent links
  frontend/e2e/page-objects/index.ts
  frontend/e2e/page-objects/node-detail-panel.page.ts
  frontend/e2e/page-objects/workflow-tree.page.ts
  frontend/e2e/workflow-execution.spec.ts
  frontend/src/entities/workflow/lib/index.ts
  frontend/src/entities/workflow/lib/merge-workflow-changes.test.ts
  frontend/src/entities/workflow/lib/merge-workflow-changes.ts
  frontend/src/entities/workflow/lib/merge-workflow-nodes.test.ts
  frontend/src/entities/workflow/lib/merge-workflow-nodes.ts
  frontend/src/features/workflow-tree/api/execute-workflow-command.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/shared/lib/normalize-to-record.test.ts
  frontend/src/shared/lib/normalize-to-record.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, e2e-frontend

Add Delete/Backspace keyboard shortcut with smart selection for workflow nodes
  frontend/src/entities/workflow/lib/index.ts
  frontend/src/entities/workflow/lib/node-navigation.test.ts
  frontend/src/entities/workflow/lib/node-navigation.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/shared/lib/dom/index.ts
  frontend/src/shared/lib/dom/is-editable-element-focused.test.ts
  frontend/src/shared/lib/dom/is-editable-element-focused.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Remove debug metadata from workflow detail panel
  frontend/e2e/page-objects/node-detail-panel.page.ts
  frontend/e2e/page-objects/workflow-tree.page.ts
  frontend/e2e/workflow-execution.spec.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/core/__tests__/tree-walker.test.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add node preview with reference resolution
  backend/src/controllers/commandExecutor/PreviewController.js
  backend/src/controllers/commandExecutor/PreviewController.test.js
  backend/src/routers/apiRouter.js
  backend/src/routers/executorRouter.js
  frontend/src/features/workflow-tree/api/resolve-node-preview.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-node-preview.test.ts
  frontend/src/features/workflow-tree/hooks/use-node-preview.ts
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/node-preview-section.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Add MCP tool execution via user-defined aliases
  backend-v2/internal/models/integration.go
  backend/package-lock.json
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/controllers/commandExecutor/ExecutorController.js
  backend/src/controllers/commandExecutor/commands/MCPCommand.js
  backend/src/controllers/commandExecutor/commands/MCPCommand.test.js
  backend/src/controllers/commandExecutor/commands/mcp/MCPClientManager.js
  backend/src/controllers/commandExecutor/commands/mcp/MCPClientManager.test.js
  backend/src/controllers/commandExecutor/commands/mcp/aliasResolver.js
  backend/src/controllers/commandExecutor/commands/mcp/aliasResolver.test.js
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.js
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.integrations.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/constants/mcp.js
  backend/src/models/Integration.js
  backend/src/test/__mocks__/pkce-challenge.js
  backend/src/test/jest.setup.js
Due: lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Add Ctrl+click multi-select with bulk delete for workflow nodes
  frontend/src/entities/workflow/lib/node-navigation.test.ts
  frontend/src/entities/workflow/lib/node-navigation.ts
  frontend/src/features/workflow-tree/components/container-renderer.tsx
  frontend/src/features/workflow-tree/components/segment-row.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-set-utils.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-set-utils.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add collapsible settings with auto-collapse for prompt nodes
  frontend/src/entities/workflow/lib/node-validation.test.ts
  frontend/src/entities/workflow/lib/node-validation.ts
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/node-preview-section.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add Shift+Click range multi-select for workflow tree nodes
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-range-select.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-range-select.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add node detail panel e2e tests with page object
  frontend/e2e/node-detail-panel.spec.ts
  frontend/e2e/page-objects/node-detail-panel.page.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/node-preview-section.tsx
Due: lint-frontend, e2e-frontend

Add node deletion E2E tests with selection fixes
  frontend/e2e/page-objects/workflow-tree.page.ts
  frontend/e2e/workflow-tree-node-deletion.spec.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-set-utils.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add prompt node lifecycle with muted tree rendering and CRUD mutations
  .gitignore
  frontend/src/entities/workflow/lib/node-mutations.test.ts
  frontend/src/entities/workflow/lib/node-mutations.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/core/__tests__/tree-node-memo.test.ts
  frontend/src/features/workflow-tree/core/__tests__/tree-walker.test.ts
  frontend/src/features/workflow-tree/core/tree-walker.ts
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/segments/segment-computer.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
Due: lint-frontend, e2e-frontend

Add reference detection in node titles for preview resolution
  frontend/e2e/node-detail-panel.spec.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-node-preview.test.ts
  frontend/src/features/workflow-tree/hooks/use-node-preview.ts
  frontend/src/shared/lib/reference-detection/has-references.test.ts
  frontend/src/shared/lib/reference-detection/has-references.ts
  frontend/src/shared/lib/reference-detection/index.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/node-preview-section.tsx
Due: lint-frontend, e2e-frontend

Add keyboard navigation and centralized expansion state for workflow tree
  .gitignore
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/components/workflow-tree.tsx
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-expansion-behavior.test.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-keyboard-navigation.test.ts
  frontend/src/features/workflow-tree/hooks/use-tree-keyboard-navigation.ts
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-expansion.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/features/workflow-tree/store/workflow-store-expansion.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add execution-genie state bridge and Ctrl+N sibling shortcut for workflow tree
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-keyboard-navigation.test.ts
  frontend/src/features/workflow-tree/hooks/use-tree-keyboard-navigation.ts
  frontend/src/features/workflow-tree/store/__tests__/execution-genie-bridge.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/execution-genie-bridge.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
Due: lint-frontend, e2e-frontend

Add command regex validation with execute button wiring and Genie role fix
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-keyboard-navigation.test.ts
  frontend/src/features/workflow-tree/store/__tests__/text-to-prompts-splitter.test.ts
  frontend/src/features/workflow-tree/store/text-to-prompts-splitter.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/shared/lib/__tests__/command-regexp.test.ts
  frontend/src/shared/lib/command-querytype-mapper.ts
  frontend/src/shared/lib/command-regexp.ts
  frontend/src/shared/lib/command-validation/__tests__/command-matcher.test.ts
  frontend/src/shared/lib/command-validation/__tests__/command-patterns.test.ts
  frontend/src/shared/lib/command-validation/__tests__/command-registry.test.ts
  frontend/src/shared/lib/command-validation/__tests__/command-validator.test.ts
  frontend/src/shared/lib/command-validation/command-matcher.ts
  frontend/src/shared/lib/command-validation/command-patterns.ts
  frontend/src/shared/lib/command-validation/command-registry.ts
  frontend/src/shared/lib/command-validation/command-validator.ts
  frontend/src/shared/lib/command-validation/index.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add collapsed-by-default expansion, Enter-to-edit shortcut, and click-outside deselection for workflow tree
  frontend/src/features/workflow-tree/hooks/__tests__/tree-expansion.test.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-keyboard-navigation.test.ts
  frontend/src/features/workflow-tree/hooks/use-tree-expansion.ts
  frontend/src/features/workflow-tree/hooks/use-tree-keyboard-navigation.ts
  frontend/src/shared/lib/hooks/__tests__/use-click-outside.test.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-click-outside.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add command regex validation framework with execute button gating for workflow nodes
  frontend/src/shared/lib/commands/__tests__/command-regex.test.ts
  frontend/src/shared/lib/commands/__tests__/command-validator.test.ts
  frontend/src/shared/lib/commands/command-constants.ts
  frontend/src/shared/lib/commands/command-regex.ts
  frontend/src/shared/lib/commands/command-validator.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, e2e-frontend

Fix e2e tests
  frontend/e2e/node-detail-panel.spec.ts
  frontend/e2e/workflow-execution.spec.ts
  frontend/e2e/workflow-tree-node-deletion.spec.ts
Due: lint-frontend, e2e-frontend

Add detail panel close/sibling buttons, Ctrl+Enter sibling shortcut, and large-screen side-by-side layout
  frontend/src/features/workflow-tree/segments/segment-computer.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-persistence.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/editable-field/__tests__/editable-text-area.test.tsx
  frontend/src/shared/ui/editable-field/__tests__/use-editable-field.test.ts
  frontend/src/shared/ui/editable-field/editable-text-area.tsx
  frontend/src/shared/ui/editable-field/use-editable-field.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
  frontend/tailwind.config.ts
Due: lint-frontend, e2e-frontend

Fix Enter-to-commit and mode-independent Ctrl+Enter sibling dispatch for editable text area
  frontend/src/shared/ui/editable-field/__tests__/editable-text-area.test.tsx
  frontend/src/shared/ui/editable-field/__tests__/use-editable-field.test.ts
  frontend/src/shared/ui/editable-field/editable-text-area.tsx
  frontend/src/shared/ui/editable-field/use-editable-field.ts
Due: lint-frontend, e2e-frontend

Add abort execution with per-node AbortController, Ctrl+Enter sibling shortcut, and orphan-matching prompt deduplication
  frontend/src/entities/workflow/lib/node-mutations.test.ts
  frontend/src/entities/workflow/lib/node-mutations.ts
  frontend/src/features/workflow-tree/api/execute-workflow-command.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-keyboard-navigation.test.ts
  frontend/src/features/workflow-tree/store/__tests__/execution-genie-bridge.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/execution-genie-bridge.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/editable-field/__tests__/editable-text-area.test.tsx
  frontend/src/shared/ui/editable-field/__tests__/use-editable-field.test.ts
  frontend/src/shared/ui/editable-field/editable-text-area.tsx
  frontend/src/shared/ui/editable-field/use-editable-field.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add SSE suppression for abort execution, fix executing intl key
  frontend/src/features/workflow-tree/store/__tests__/execution-genie-bridge.test.ts
  frontend/src/features/workflow-tree/store/execution-genie-bridge.ts
  frontend/src/shared/lib/__tests__/genie-state-store.test.ts
  frontend/src/shared/lib/genie-state-api.ts
  frontend/src/shared/lib/genie-state-store.test.ts
  frontend/src/shared/lib/genie-state-store.ts
  frontend/src/shared/lib/intl/en.ts
Due: lint-frontend, e2e-frontend

Add inline delete button, new-node flash animation, and Enter-to-commit for command textarea
  frontend/src/features/workflow-tree/components/container-renderer.tsx
  frontend/src/features/workflow-tree/components/segment-row.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/context/__tests__/tree-animation-context.test.tsx
  frontend/src/features/workflow-tree/context/tree-animation-context.tsx
  frontend/src/features/workflow-tree/core/__tests__/tree-node-memo.test.ts
  frontend/src/features/workflow-tree/core/tree-node-memo.ts
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/styles/wire-tree.css
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/shared/ui/editable-field/__tests__/use-editable-field.test.ts
  frontend/src/shared/ui/editable-field/editable-text-area.tsx
  frontend/src/shared/ui/editable-field/use-editable-field.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add per-node dirty indicator with dirtyNodeIds tracking, eviction, and amber dot in tree
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-persistence.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-persistence.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
Due: lint-frontend, e2e-frontend

Add Enter→execute→sibling chain, localStorage draft persistence with dirty border, and onEscape draft discard
  frontend/src/shared/lib/hooks/__tests__/use-field-draft.test.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-field-draft.ts
  frontend/src/shared/ui/editable-field/__tests__/use-editable-field.test.ts
  frontend/src/shared/ui/editable-field/editable-text-area.tsx
  frontend/src/shared/ui/editable-field/use-editable-field.ts
  frontend/src/widgets/workflow/model/__tests__/use-command-enter-execute.test.ts
  frontend/src/widgets/workflow/model/index.ts
  frontend/src/widgets/workflow/model/use-command-enter-execute.ts
  frontend/src/widgets/workflow/ui/command-field.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add Enter-in-command execute+sibling, autoFocusCommand prop, and prompts merge preservation
  frontend/src/entities/workflow/lib/merge-workflow-changes.test.ts
  frontend/src/entities/workflow/lib/merge-workflow-changes.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/editable-field/__tests__/editable-text-area.test.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Fix onEnterCommit stale-closure race with committed value passthrough, activate 3xl breakpoint and mobile-only close button
  frontend/src/app/index.css
  frontend/src/shared/ui/editable-field/__tests__/use-editable-field.test.ts
  frontend/src/shared/ui/editable-field/use-editable-field.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/tailwind.config.ts
Due: lint-frontend, e2e-frontend

Add unmount-commit, idle-commit debounce, and controlled Settings collapse to CommandField, delete dead useFieldDraft and EditableTextArea
  frontend/src/shared/lib/hooks/__tests__/use-field-draft.test.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-field-draft.ts
  frontend/src/shared/ui/editable-field/__tests__/editable-text-area.test.tsx
  frontend/src/shared/ui/editable-field/editable-text-area.tsx
  frontend/src/shared/ui/editable-field/index.ts
  frontend/src/widgets/workflow/ui/__tests__/command-field.test.tsx
  frontend/src/widgets/workflow/ui/command-field.tsx
Due: lint-frontend, e2e-frontend

Add Shift+Ctrl+Enter sibling-only shortcut, split Enter/Ctrl+Enter/Shift+Ctrl+Enter keybinding dispatch with committed-value passthrough, Enter→blur
  frontend/src/widgets/workflow/ui/__tests__/command-field.test.tsx
  frontend/src/widgets/workflow/ui/command-field.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add MCP agent mode with auto tool discovery, stdio transport and per-alias timeout
  .gitignore
  backend-v2/internal/models/integration.go
  backend/src/controllers/commandExecutor/commands/MCPCommand.js
  backend/src/controllers/commandExecutor/commands/MCPCommand.test.js
  backend/src/controllers/commandExecutor/commands/mcp/MCPClientManager.js
  backend/src/controllers/commandExecutor/commands/mcp/MCPClientManager.test.js
  backend/src/controllers/commandExecutor/commands/mcp/MCPToolAdapter.js
  backend/src/controllers/commandExecutor/commands/mcp/MCPToolAdapter.test.js
  backend/src/controllers/commandExecutor/commands/mcp/aliasResolver.js
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.js
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.test.js
  backend/src/controllers/commandExecutor/constants/mcp.js
  backend/src/models/Integration.js
Due: lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Add MCP alias recognition and dispatch in steps, foreach and switch sub-dispatchers
  backend/src/controllers/commandExecutor/commands/ForeachCommand.js
  backend/src/controllers/commandExecutor/commands/StepsCommand.js
  backend/src/controllers/commandExecutor/commands/StepsCommand.test.js
  backend/src/controllers/commandExecutor/commands/SwitchCommand.js
  backend/src/controllers/commandExecutor/commands/utils/StepsNodeTraverser.js
  backend/src/controllers/commandExecutor/commands/utils/StepsNodeTraverser.test.js
  backend/src/controllers/commandExecutor/commands/utils/commandRecognition.js
  backend/src/controllers/commandExecutor/commands/utils/commandRecognition.test.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.test.js
Due: lint-backend, test-backend

Add RPC command execution via SSH and HTTP with unified alias resolution across all sub-dispatchers
  backend-v2/internal/models/integration.go
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/commandExecutor/ExecutorController.js
  backend/src/controllers/commandExecutor/commands/ForeachCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.test.js
  backend/src/controllers/commandExecutor/commands/StepsCommand.js
  backend/src/controllers/commandExecutor/commands/SwitchCommand.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.test.js
  backend/src/controllers/commandExecutor/commands/rpc/HTTPExecutor.js
  backend/src/controllers/commandExecutor/commands/rpc/HTTPExecutor.test.js
  backend/src/controllers/commandExecutor/commands/rpc/SSHExecutor.js
  backend/src/controllers/commandExecutor/commands/rpc/SSHExecutor.test.js
  backend/src/controllers/commandExecutor/commands/shared/interpolateTemplate.js
  backend/src/controllers/commandExecutor/commands/shared/interpolateTemplate.test.js
  backend/src/controllers/commandExecutor/commands/shared/parseOutput.js
  backend/src/controllers/commandExecutor/commands/shared/parseOutput.test.js
  backend/src/controllers/commandExecutor/commands/utils/Store.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.integrations.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/constants/rpc.js
  backend/src/models/Integration.js
Due: lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Add context-aware shell escaping to template interpolation with per-quote-context injection prevention
  backend/src/controllers/commandExecutor/commands/RPCCommand.test.js
  backend/src/controllers/commandExecutor/commands/shared/interpolateTemplate.js
  backend/src/controllers/commandExecutor/commands/shared/interpolateTemplate.test.js
  backend/src/controllers/commandExecutor/commands/shared/shellEscaping/escapeForJson.js
  backend/src/controllers/commandExecutor/commands/shared/shellEscaping/escapeForJson.test.js
  backend/src/controllers/commandExecutor/commands/shared/shellEscaping/escapeForShell.js
  backend/src/controllers/commandExecutor/commands/shared/shellEscaping/escapeForShell.test.js
  backend/src/controllers/commandExecutor/commands/shared/shellEscaping/index.js
Due: lint-backend, test-backend

Fix Preview to display node titles instead of commands by extracting buildPreviewParams with useCommand:false and nonPromptNode:false overrides
  frontend/e2e/node-detail-panel.spec.ts
  frontend/src/entities/workflow/lib/reference-resolution/__tests__/preview-params.test.ts
  frontend/src/entities/workflow/lib/reference-resolution/index.ts
  frontend/src/entities/workflow/lib/reference-resolution/preview-params.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-node-preview.test.ts
  frontend/src/features/workflow-tree/hooks/use-node-preview.ts
Due: lint-frontend, e2e-frontend

Add session persistence with configurable field extraction and protocol-agnostic injection for RPC resume workflows
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.test.js
  backend/src/controllers/commandExecutor/commands/rpc/SessionIdExtractor.js
  backend/src/controllers/commandExecutor/commands/rpc/SessionIdExtractor.test.js
  backend/src/controllers/commandExecutor/commands/rpc/SessionIdInjector.js
  backend/src/controllers/commandExecutor/commands/rpc/SessionIdInjector.test.js
  backend/src/models/Integration.js
  backend/src/routers/integrationRouter.js
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
  frontend/src/shared/base-types/integration.ts
  frontend/src/shared/ui/textarea.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Fix prompt parent propagation by enriching nodesChanged with missing parents from workflowNodes, enabling isPrompt detection, prompt eviction on re-execute, and Settings auto-collapse
  frontend/src/entities/workflow/lib/__tests__/prompt-parent-end-to-end.test.ts
  frontend/src/entities/workflow/lib/enrich-nodes-with-parents.test.ts
  frontend/src/entities/workflow/lib/enrich-nodes-with-parents.ts
  frontend/src/entities/workflow/lib/index.ts
  frontend/src/features/workflow-tree/api/__tests__/execute-workflow-command-prompt-enrichment.test.ts
  frontend/src/features/workflow-tree/api/execute-workflow-command.ts
Due: lint-frontend, e2e-frontend

Add ACP local protocol execution with permission policy, response aggregation and SDK-aligned stdio transport for RPC command dispatch
  backend/babel.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPConnection.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPConnection.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPExecutor.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPExecutor.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPPermissionPolicy.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPPermissionPolicy.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPResponseAggregator.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPResponseAggregator.test.js
  backend/src/controllers/commandExecutor/constants/rpc.js
  backend/src/models/Integration.js
Due: lint-backend, test-backend

Add dynamic alias recognition in substitution, text extraction and context building utilities
  backend/src/controllers/commandExecutor/commands/ChatCommand.js
  backend/src/controllers/commandExecutor/commands/ClaudeCommand.js
  backend/src/controllers/commandExecutor/commands/CustomLLMChatCommand.js
  backend/src/controllers/commandExecutor/commands/DeepseekCommand.js
  backend/src/controllers/commandExecutor/commands/PerplexityCommand.js
  backend/src/controllers/commandExecutor/commands/QwenCommand.js
  backend/src/controllers/commandExecutor/commands/YandexCommand.js
  backend/src/controllers/commandExecutor/commands/references/substitution.js
  backend/src/controllers/commandExecutor/commands/utils/NodeTextExtractor.js
  backend/src/controllers/commandExecutor/commands/utils/aliasComposition.js
  backend/src/controllers/commandExecutor/commands/utils/createContextForChat.js
  backend/src/controllers/commandExecutor/commands/utils/dynamicAliasRecognition.test.js
Due: lint-backend, test-backend
