Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

lint-docker-frontend:
  retry: 2
  before_script:
  - cd frontend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  retry: 2
  before_script:
  - cd backend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend-v2:
  retry: 2
  stage: lint
  image: hadolint/hadolint:latest-debian
  before_script:
  - cd backend-v2
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: node:22-alpine
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

lint-backend-v2:
  retry: 2
  stage: lint
  image: golangci/golangci-lint:v1.62-alpine
  before_script:
  - cd backend-v2
  script:
  - golangci-lint run --timeout=5m

test-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  script:
  - npm ci
  - DEBUG="infinity:*" npm run test
  artifacts:
  ...

test-backend-v2:
  retry: 2
  stage: test
  image: golang:1.25-alpine
  before_script:
  - cd backend-v2
  script:
  - apk add --no-cache git
  - go mod download
  - go test -v -coverprofile=coverage.out ./...
  - go tool cover -func=coverage.out
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

e2e-backend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

e2e-frontend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

Add per-workflow integration scoping with fallback and SSH connection pooling for foreach/steps batch execution
  backend-v2/internal/models/integration.go
  backend-v2/internal/modules/integration/array_controller.go
  backend-v2/internal/modules/integration/array_operations.go
  backend-v2/internal/modules/integration/controller.go
  backend-v2/internal/modules/integration/fallback_finder.go
  backend-v2/internal/modules/integration/fallback_finder_test.go
  backend-v2/internal/modules/integration/scope.go
  backend-v2/internal/modules/integration/scope_test.go
  backend-v2/internal/modules/integration/service.go
  backend/src/controllers/IntegrationController.js
  backend/src/controllers/IntegrationController.test.js
  backend/src/controllers/commandExecutor/commands/ForeachCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.test.js
  backend/src/controllers/commandExecutor/commands/StepsCommand.js
  backend/src/controllers/commandExecutor/commands/rpc/SSHClientPool.js
  backend/src/controllers/commandExecutor/commands/rpc/SSHClientPool.test.js
  backend/src/controllers/commandExecutor/commands/rpc/SSHExecutor.js
  backend/src/controllers/commandExecutor/commands/rpc/SSHExecutor.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  frontend/e2e/helpers/workflow-scoped-cleanup.ts
  frontend/e2e/workflow-scoped-integrations.spec.ts
  frontend/src/pages/user-settings/api/use-user-workflows-list.ts
  frontend/src/pages/user-settings/ui/integration/components/array-integration-section.tsx
  frontend/src/pages/user-settings/ui/integration/components/workflow-scope-selector.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/claude-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/custom-llm-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/deepseek-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/openai-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/perplexity-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/qwen-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/yandex-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/integration-category.tsx
  frontend/src/pages/user-settings/ui/integration/integration-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/integrations-page.tsx
  frontend/src/pages/user-settings/ui/integration/utils/build-integration-url.ts
  frontend/src/shared/lib/intl/en.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Add Glass UI to integration dialogs, secret redaction API with metadata, and portal-aware Radix Select E2E helpers
  backend-v2/internal/models/secret_metadata.go
  backend-v2/internal/modules/integration/controller.go
  backend-v2/internal/modules/integration/secret_redactor.go
  backend-v2/internal/modules/integration/secret_redactor_test.go
  backend-v2/internal/modules/integration/service.go
  frontend/e2e/helpers/radix-select-helper.ts
  frontend/e2e/mcp-rpc-accessibility.spec.ts
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/e2e/pages/ArrayIntegrationPage.ts
  frontend/e2e/radix-select-portal-behavior.spec.ts
  frontend/e2e/workflow-scoped-integrations.spec.ts
  frontend/src/pages/user-settings/ui/integration/components/delete-confirmation-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/claude-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/custom-llm-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/deepseek-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/openai-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/perplexity-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/qwen-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/yandex-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/integration-category.tsx
  frontend/src/shared/base-types/integration.ts
  plugins/chat-popup/pnpm-lock.yaml
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Fix backend-v2 e2e tests
  backend-v2/e2e/integration.e2e.test.js
Due: lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Fix E2E tests
  backend-v2/internal/modules/integration/secret_redactor.go
  backend-v2/internal/modules/integration/secret_redactor_test.go
  frontend/e2e/workflow-scoped-integrations.spec.ts
  frontend/e2e/workflow.spec.ts
  frontend/src/pages/user-settings/ui/integration/components/workflow-scope-selector.tsx
  frontend/src/widgets/workflow/model/__tests__/workflow.types.test.ts
  frontend/src/widgets/workflow/model/workflow.types.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add sentinel-based secret redaction, secure GetService endpoint, and fix E2E test context isolation for integration dialogs
  backend-v2/e2e/integration.e2e.test.js
  backend-v2/internal/modules/integration/array_field_encryption_test.go
  backend-v2/internal/modules/integration/array_operations.go
  backend-v2/internal/modules/integration/array_operations_test.go
  backend-v2/internal/modules/integration/controller.go
  backend-v2/internal/modules/integration/encryption_coverage_test.go
  backend-v2/internal/modules/integration/secret_redactor.go
  backend-v2/internal/modules/integration/secret_redactor_test.go
  backend-v2/internal/modules/integration/sentinel.go
  backend-v2/internal/modules/integration/sentinel_test.go
  backend-v2/internal/modules/integration/service.go
  backend-v2/internal/modules/integration/service_field_extractor.go
  backend-v2/internal/modules/integration/service_field_extractor_test.go
  frontend/.gitignore
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/e2e/workflow-scoped-integrations.spec.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Extract RPC dialog hooks for protocol-switch Select defaults and edit-mode field fallbacks, deduplicate type constants, and remove sentinel constant test
  backend-v2/internal/modules/integration/sentinel_test.go
  frontend/src/pages/user-settings/ui/integration/dialogs/hooks/use-rpc-form-defaults.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/hooks/use-rpc-form-defaults.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/hooks/use-rpc-protocol-defaults.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/hooks/use-rpc-protocol-defaults.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-constants.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add sentinel map redaction for encrypted map fields, empty document cleanup after last array item deletion, and consolidate dual-switch field extractor into data-driven accessor
  backend-v2/internal/modules/integration/array_field_encryption_test.go
  backend-v2/internal/modules/integration/array_operations.go
  backend-v2/internal/modules/integration/document_emptiness_checker.go
  backend-v2/internal/modules/integration/document_emptiness_checker_test.go
  backend-v2/internal/modules/integration/metadata_field_accessor.go
  backend-v2/internal/modules/integration/secret_redactor.go
  backend-v2/internal/modules/integration/secret_redactor_test.go
  backend-v2/internal/modules/integration/sentinel.go
  backend-v2/internal/modules/integration/sentinel_test.go
  backend-v2/internal/modules/integration/service.go
  backend-v2/internal/modules/integration/service_field_extractor.go
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/e2e/workflow-scoped-integrations.spec.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add idempotent DELETE for missing integration documents, API-based E2E auth helper with two-step login+refresh, and comprehensive secret redaction test coverage across all encrypted field types
  backend-v2/internal/modules/integration/array_operations.go
  frontend/e2e/api-auth-integration.spec.ts
  frontend/e2e/helpers/api-auth.ts
  frontend/e2e/mcp-rpc-accessibility.spec.ts
  frontend/e2e/mcp-rpc-integrations.spec.ts
  frontend/e2e/workflow-scoped-integrations.spec.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add WCAG keyboard accessibility hooks for integration cards and sortable table headers, and fix flaky Go scope test byte-comparison assertions
  backend-v2/internal/modules/integration/fallback_finder_test.go
  backend-v2/internal/modules/integration/scope_test.go
  frontend/src/pages/user-settings/ui/integration/integration-category.tsx
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-button-keyboard.test.ts
  frontend/src/shared/lib/hooks/use-button-keyboard.ts
  frontend/src/shared/lib/hooks/use-sortable-header.test.ts
  frontend/src/shared/lib/hooks/use-sortable-header.ts
  frontend/src/widgets/waitlist/ui/waitlist-table.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add generic preset button system for MCP and RPC integration dialogs with IDE, QA testing, and Claude CLI presets, and replace hardcoded fillClaudePreset with data-driven preset architecture
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/index.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/mcp-presets.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/mcp-presets.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/preset-button-row.test.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/preset-button-row.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/types.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
Due: lint-frontend, e2e-frontend

Fix flaky e2e encryption redaction tests
  frontend/e2e/helpers/array-integration-helpers.ts
  frontend/e2e/mcp-rpc-integrations.spec.ts
Due: lint-frontend, e2e-frontend

increase gitlab CI timeout
  .gitlab-ci.yml
Due: none

fix E2E test
  frontend/e2e/helpers/array-integration-helpers.ts
Due: lint-frontend, e2e-frontend

Add Genie clipboard-only variant for command-less nodes, gate hand ribs and color on trimmed command presence at both render sites
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/shared/ui/genie/__tests__/genie-base.test.tsx
  frontend/src/shared/ui/genie/genie-base.tsx
  frontend/src/shared/ui/genie/index.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, e2e-frontend

Add workflow title passthrough in CreateWorkflow controller, DTO, and service with request body extraction and comprehensive creation test coverage
  .gitignore
  Makefile
  backend-v2/e2e/llm-vector.e2e.test.js
  backend-v2/e2e/shared/test-data-factory.js
  backend-v2/internal/modules/workflow/controller.go
  backend-v2/internal/modules/workflow/controller_create_test.go
  backend-v2/internal/modules/workflow/dto.go
  backend-v2/internal/modules/workflow/service.go
  backend-v2/internal/modules/workflow/service_create_test.go
  backend/jest.setup.js
  backend/src/controllers/commandExecutor/commands/SummarizeCommand.integration.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.integrations.test.js
  frontend/e2e/dual-sidebar-mobile.spec.ts
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/e2e/page-objects/secondary-sidebar.page.ts
  frontend/e2e/viewport-sidebar-sync.spec.ts
  frontend/src/shared/composables/__tests__/use-viewport-breakpoint.test.ts
  frontend/src/shared/composables/use-mobile.ts
  frontend/src/shared/composables/use-viewport-breakpoint.ts
  frontend/src/shared/context/__tests__/dual-sidebar-context.test.tsx
  frontend/src/shared/context/dual-sidebar-context.tsx
  frontend/src/widgets/app-layout/hooks/use-route-based-section.ts
  frontend/src/widgets/app-layout/ui/app-layout.tsx
  frontend/tsconfig.app.json
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Add best-of-N sampling with two-layer gated selection for LLM reliability
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/constants/index.js
  backend/src/controllers/commandExecutor/constants/reliability.js
  backend/src/controllers/commandExecutor/constants/reliability.test.js
  backend/src/controllers/commandExecutor/reliability/CommandFactory.js
  backend/src/controllers/commandExecutor/reliability/CommandFactory.test.js
  backend/src/controllers/commandExecutor/reliability/core/CandidateEvaluator.js
  backend/src/controllers/commandExecutor/reliability/core/CandidateEvaluator.test.js
  backend/src/controllers/commandExecutor/reliability/core/LLMJudge.js
  backend/src/controllers/commandExecutor/reliability/core/LLMJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/NullProgress.js
  backend/src/controllers/commandExecutor/reliability/core/NullProgress.test.js
  backend/src/controllers/commandExecutor/reliability/core/ShuffleMapper.js
  backend/src/controllers/commandExecutor/reliability/core/ShuffleMapper.test.js
  backend/src/controllers/commandExecutor/reliability/core/StoreFork.js
  backend/src/controllers/commandExecutor/reliability/core/StoreFork.test.js
  backend/src/controllers/commandExecutor/reliability/index.js
  backend/src/controllers/commandExecutor/reliability/models/ModelFamilyRouter.js
  backend/src/controllers/commandExecutor/reliability/models/ModelFamilyRouter.test.js
  backend/src/controllers/commandExecutor/reliability/strategies/BestOfNStrategy.js
  backend/src/controllers/commandExecutor/reliability/strategies/BestOfNStrategy.test.js
Due: lint-backend, test-backend

Fix DualKeyDecryptStrategy 3-arg signature mismatch causing AES-GCM auth failure for encrypted integration fields
  backend/src/models/utils/dualKeyDecryptStrategy.js
  backend/src/models/utils/dualKeyDecryptStrategy.test.js
  backend/src/models/utils/fieldEncryption.migration.test.js
Due: lint-backend, test-backend

add MCP/RPC/ACP echo stubs with full-chain round-trip integration tests through real MongoDB, ACP preset correction, and test:integration npm script
  backend/package.json
  backend/src/controllers/commandExecutor/commands/mcp/MCPClientManager.integration.test.js
  backend/src/controllers/commandExecutor/commands/rpc/HTTPExecutor.integration.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPExecutor.integration.test.js
  backend/src/controllers/commandExecutor/commands/utils/__tests__/RoundTripTestRunner.js
  backend/src/controllers/commandExecutor/commands/utils/__tests__/fixtures/DatabaseFixtures.js
  backend/src/controllers/commandExecutor/commands/utils/__tests__/fixtures/IntegrationDocBuilder.js
  backend/src/controllers/commandExecutor/commands/utils/__tests__/fixtures/TransportStubs.js
  backend/src/controllers/commandExecutor/commands/utils/__tests__/validators/OutputNodeValidator.js
  backend/src/controllers/commandExecutor/commands/utils/__tests__/validators/QueryTypeValidator.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.integrations.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.roundtrip.integration.test.js
  backend/src/test-stubs/echo-acp-server.cjs
  backend/src/test-stubs/echo-http-server.cjs
  backend/src/test-stubs/echo-mcp-server.cjs
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Add dynamic alias recognition in foreach parent context collection and switch command dispatch
  backend/src/controllers/commandExecutor/commands/ForeachCommand.js
  backend/src/controllers/commandExecutor/commands/ForeachCommand.test.js
  backend/src/controllers/commandExecutor/commands/SwitchCommand.js
  backend/src/controllers/commandExecutor/commands/utils/isCommand.js
Due: lint-backend, test-backend

Add /validate criteria extraction for LLM judge, /refine post-processing dispatch, and best-of-N title suffix annotation
  backend/src/controllers/commandExecutor/commands/utils/checkIsPostProccess.js
  backend/src/controllers/commandExecutor/commands/utils/checkIsPostProccess.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.postprocess.test.js
  backend/src/controllers/commandExecutor/constants/commandRegExp.js
  backend/src/controllers/commandExecutor/constants/index.js
  backend/src/controllers/commandExecutor/constants/validate.js
  backend/src/controllers/commandExecutor/reliability/core/LLMJudge.js
  backend/src/controllers/commandExecutor/reliability/core/LLMJudge.test.js
  backend/src/controllers/commandExecutor/reliability/strategies/BestOfNStrategy.js
  backend/src/controllers/commandExecutor/reliability/strategies/BestOfNStrategy.test.js
Due: lint-backend, test-backend

Export canonical getNodeCommand from isCommand.js and fix title-only node handling in MemorizeCommand, OutlineCommand, RefineCommand, and post-processor dispatch
  backend/src/controllers/commandExecutor/commands/MemorizeCommand.js
  backend/src/controllers/commandExecutor/commands/MemorizeCommand.test.js
  backend/src/controllers/commandExecutor/commands/OutlineCommand.js
  backend/src/controllers/commandExecutor/commands/OutlineCommand.test.js
  backend/src/controllers/commandExecutor/commands/RefineCommand.js
  backend/src/controllers/commandExecutor/commands/utils/isCommand.js
  backend/src/controllers/commandExecutor/commands/utils/isCommand.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.postprocess.test.js
Due: lint-backend, test-backend

Fix E2E tests
  backend-v2/e2e-db-init
  frontend/e2e/helpers/array-integration-helpers.ts
  frontend/e2e/helpers/workflow-scoped-cleanup.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*
