Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-frontend, lint-backend, test-backend, build-backend-v2, e2e-backend, e2e-frontend

lint-docker-frontend:
  retry: 2
  before_script:
  - cd frontend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  retry: 2
  before_script:
  - cd backend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: node:22-alpine
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

test-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  script:
  - npm ci
  - DEBUG="infinity:*" npm run test
  artifacts:
  ...

build-backend-v2:
  stage: build
  image: golang:1.25-alpine
  before_script:
  - cd backend-v2
  script:
  - apk add --no-cache git
  - go mod download
  - go mod tidy
  - go build -ldflags="-s -w" -o backend-v2 .
  - chmod +x backend-v2
  artifacts:
    paths:
    - backend-v2/backend-v2
    expire_in: 1 day
  needs: []

e2e-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    E2E_MONGO_URI: mongodb://mongo:27017/delta5
  stage: e2e
  script:
  - npm ci
  ...

e2e-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: mcr.microsoft.com/playwright:v1.47.0-focal
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: e2e
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  ...

Remove 11 redundant /api/v1 routers; Update chat-popup to use /api/v2; Update docs
  .github/docs/TODO.md
  backend/src/routers/apiRouter.js
  backend/src/routers/authenticationRouter.js
  backend/src/routers/errorRouter.js
  backend/src/routers/integrationRouter.js
  backend/src/routers/llmVectorRouter.js
  backend/src/routers/macroRouter.js
  backend/src/routers/pathRouter.js
  backend/src/routers/statisticsRouter.js
  backend/src/routers/syncRouter.js
  backend/src/routers/templateRouter.js
  backend/src/routers/urlThumbnailRouter.js
  backend/src/routers/userRouter.js
  backend/src/routers/workflowRouter.js
  plugins/chat-popup/src/_interfaces/index.ts
  plugins/chat-popup/src/configuration.ts
Due: lint-backend, test-backend, e2e-backend

backend-v2 better API routing; update docs
  .github/docs/TODO.md
  backend-v2/internal/common/jwt.go
  backend-v2/internal/modules/auth/controller.go
  backend-v2/internal/modules/auth/register.go
  backend-v2/internal/modules/user/controller.go
  backend-v2/internal/modules/user/register.go
  backend/package.json
  frontend/e2e/main-menu.spec.ts
  frontend/e2e/utils/index.ts
  frontend/src/entities/auth/api/use-auth.ts
Due: lint-frontend, lint-backend, test-backend, build-backend-v2, e2e-backend, e2e-frontend

add GitHub CI pipeline; Refine GitHub CI workflow configuration
  .github/workflows/ci.yml
  .gitignore
Due: none

add estimate-hours script
  .github/workflows/ci.yml
  scripts/estimate-hours.sh
Due: none

add estimate-hours script
  scripts/estimate-hours.sh
Due: none

cleanup; update deployment config
  .git-hooks/pre-commit
  Makefile
  backend-v2/cmd/seed-users/README.md
  backend-v2/e2e/jest.config.js
  backend-v2/e2e/teardown.js
  docker-compose.yml
  scripts/validate-ci.sh
Due: build-backend-v2, e2e-backend, e2e-frontend

prevent JWT cookie validation on public routes; prod and dev configs side-by-side; update docs
  Makefile
  README.md
  backend-v2/internal/middlewares/claims_extractor_test.go
  backend-v2/internal/middlewares/context_storage.go
  backend-v2/internal/middlewares/context_storage_test.go
  backend-v2/internal/middlewares/extract-user-id.go
  backend-v2/internal/middlewares/jwt_error_classifier.go
  backend-v2/internal/middlewares/jwt_error_classifier_test.go
  backend-v2/internal/middlewares/route_access_policy.go
  backend-v2/internal/middlewares/route_access_policy_test.go
  backend-v2/internal/middlewares/user_id_extractor.go
  backend-v2/internal/middlewares/user_id_extractor_factory.go
  backend-v2/internal/middlewares/user_id_extractor_integration_test.go
  docker-compose.dev.yml
  docker-compose.yml
Due: build-backend-v2, e2e-backend, e2e-frontend

fix CI
  backend-v2/Dockerfile
Due: build-backend-v2, e2e-backend, e2e-frontend

add DeepSeek proxy
  backend-v2/internal/modules/integration/register.go
  backend-v2/internal/services/llmproxy/config.go
  backend-v2/internal/services/llmproxy/noop.go
  backend-v2/internal/services/llmproxy/prod.go
  backend-v2/internal/services/llmproxy/service.go
  frontend/src/shared/config/llm.config.ts
Due: lint-frontend, build-backend-v2, e2e-backend, e2e-frontend

fix username validation at signup form; fix admin's user list API endpoint
  backend-v2/e2e/auth.e2e.test.js
  backend-v2/e2e/integration.e2e.test.js
  backend-v2/e2e/security-rbac-sharing.e2e.test.js
  backend-v2/e2e/statistics.e2e.test.js
  backend-v2/e2e/url-thumbnail.e2e.test.js
  backend-v2/e2e/workflow.e2e.test.js
  backend-v2/internal/modules/auth/controller.go
  backend-v2/internal/modules/auth/validator.go
  backend-v2/internal/modules/auth/validator_test.go
  backend-v2/internal/modules/statistics/controller.go
  backend-v2/internal/modules/workflow/controller.go
  frontend/src/pages/signup/ui/signup-page.tsx
  frontend/src/shared/lib/intl/en.ts
Due: lint-frontend, build-backend-v2, e2e-backend, e2e-frontend

fix loader color issue; fix menu and sidebar styles; improve version
  frontend/src/pages/password-recover/ui/forgot-password.tsx
  frontend/src/pages/password-recover/ui/reset-password.tsx
  frontend/src/pages/signup/ui/signup-page.tsx
  frontend/src/shared/ui/click-to-copy.tsx
  frontend/src/shared/ui/status-placeholder.tsx
  frontend/src/shared/ui/version.tsx
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.tsx
Due: lint-frontend, e2e-frontend

reaslistic AI-era estimates
  scripts/estimate-hours.sh
Due: none

enhance sidebar menu item active state detection for nested routes; implement user deletion endpoint with cascading removal of related data; fix tests
  backend-v2/e2e/shared/test-data-factory.js
  backend-v2/e2e/user.e2e.test.js
  backend-v2/internal/database/gridfs.go
  backend-v2/internal/modules/clienterror/service.go
  backend-v2/internal/modules/llmvector/service.go
  backend-v2/internal/modules/macro/service.go
  backend-v2/internal/modules/template/service.go
  backend-v2/internal/modules/user/controller.go
  backend-v2/internal/modules/user/register.go
  backend-v2/internal/modules/user/service.go
  frontend/e2e/sidebar-navigation.spec.ts
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.tsx
Due: lint-frontend, build-backend-v2, e2e-backend, e2e-frontend

improve e2e tests; refactor E2E tests
  frontend/e2e/helpers/viewport-testing.ts
  frontend/e2e/page-objects/index.ts
  frontend/e2e/page-objects/share-dialog-interactions.page.ts
  frontend/e2e/page-objects/share-dialog.page.ts
  frontend/e2e/page-objects/workflow-card.page.ts
  frontend/e2e/public-workflows.spec.ts
  frontend/e2e/utils/index.ts
  frontend/e2e/workflow-sharing.spec.ts
  frontend/e2e/workflow.spec.ts
  frontend/src/widgets/workflow/ui/workflow-card.tsx
  frontend/src/widgets/workflow/ui/workflow-card/share-button.tsx
Due: lint-frontend, e2e-frontend

fix sharing pop-up when opened via 'share' button
  frontend/e2e/workflow-sharing.spec.ts
  frontend/src/widgets/workflow/ui/share-dialog/index.tsx
  frontend/src/widgets/workflow/ui/share-dialog/use-auto-share-on-open.ts
  frontend/src/widgets/workflow/ui/share-dialog/use-user-interaction-tracking.ts
Due: lint-frontend, e2e-frontend

share popup: fix collaborative toggle
  frontend/e2e/workflow-sharing.spec.ts
  frontend/src/shared/lib/create-logger.ts
  frontend/src/widgets/workflow/model/visibility-state.ts
  frontend/src/widgets/workflow/ui/share-dialog/index.tsx
  frontend/src/widgets/workflow/ui/share-dialog/use-visibility-update.ts
  frontend/src/widgets/workflow/ui/share-dialog/visibility-radio-group.tsx
Due: lint-frontend, e2e-frontend

fix e2e: remove shared state from workflow sharing tests; fix e2e frontend: combined toggle and checkbox states of sharing pop-up
  backend-v2/e2e/security-rbac-sharing.e2e.test.js
  frontend/e2e/page-objects/share-dialog-interactions.page.ts
  frontend/e2e/visibility-state-system.spec.ts
  frontend/e2e/workflow-sharing.spec.ts
  frontend/src/widgets/workflow/model/visibility-state.ts
  frontend/src/widgets/workflow/ui/share-dialog/collaborative-toggle.tsx
  frontend/src/widgets/workflow/ui/share-dialog/index.tsx
  frontend/src/widgets/workflow/ui/share-dialog/use-visibility-handlers.ts
  frontend/src/widgets/workflow/ui/share-dialog/visibility-option.tsx
  frontend/src/widgets/workflow/ui/share-dialog/visibility-radio-group.tsx
Due: lint-frontend, build-backend-v2, e2e-backend, e2e-frontend

fix e2e frontend: replace waitForTimeout with expect assertions for share dialog options
  frontend/e2e/workflow-sharing.spec.ts
Due: lint-frontend, e2e-frontend

fix e2e frontend incorrect timing setup
  frontend/e2e/page-objects/share-dialog-interactions.page.ts
  frontend/e2e/visibility-state-system.spec.ts
  frontend/e2e/workflow-sharing.spec.ts
Due: lint-frontend, e2e-frontend

2-level toolbar
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/src/pages/workflow/ui/workflows-list.tsx
  frontend/src/shared/context/dual-sidebar-context.tsx
  frontend/src/shared/context/index.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/lib/storage/index.ts
  frontend/src/shared/lib/storage/local-storage.ts
  frontend/src/widgets/app-layout/config/index.ts
  frontend/src/widgets/app-layout/config/primary-nav-config.ts
  frontend/src/widgets/app-layout/config/secondary-nav-config.ts
  frontend/src/widgets/app-layout/ui/app-layout.tsx
  frontend/src/widgets/app-layout/ui/sidebar/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.tsx
  frontend/src/widgets/app-layout/ui/sidebar/secondary-sidebar.tsx
Due: lint-frontend, e2e-frontend

fix unauthorized user view of /workflows/public
  frontend/src/pages/workflow/ui/workflows-list.tsx
  frontend/src/shared/lib/storage/local-storage.ts
  frontend/src/widgets/app-layout/hooks/use-section-visibility.ts
  frontend/src/widgets/app-layout/hooks/use-workflow-actions.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/menu-items.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/sidebar-section.tsx
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.tsx
  frontend/src/widgets/app-layout/ui/sidebar/secondary-sidebar.tsx
  frontend/src/widgets/app-layout/ui/sidebar/sections/default-section.tsx
  frontend/src/widgets/app-layout/ui/sidebar/sections/home-section.tsx
  frontend/src/widgets/app-layout/ui/sidebar/sections/section-renderer.tsx
Due: lint-frontend, e2e-frontend

mobile responsive secondary toolbar
  frontend/src/widgets/app-layout/hooks/index.ts
  frontend/src/widgets/app-layout/hooks/use-auto-close-on-mobile.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/menu-items.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/mobile-close-button.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/scrollable-menu-container.tsx
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.tsx
  frontend/src/widgets/app-layout/ui/sidebar/secondary-sidebar.tsx
Due: lint-frontend, e2e-frontend

add footer to primary sidebar
  frontend/src/widgets/app-layout/ui/sidebar/components/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/navigation-item.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/navigation-list.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/sidebar-footer.tsx
  frontend/src/widgets/app-layout/ui/sidebar/constants/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/constants/layout.ts
  frontend/src/widgets/app-layout/ui/sidebar/hooks/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/hooks/use-scroll-shadow.ts
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.tsx
Due: lint-frontend, e2e-frontend

add user popover to primary sidebar footer
  frontend/e2e/auth-visibility.spec.ts
  frontend/e2e/main-menu.spec.ts
  frontend/src/features/user-popover/index.ts
  frontend/src/features/user-popover/ui/inline-theme-toggle.tsx
  frontend/src/features/user-popover/ui/mobile-dismiss-area.module.scss
  frontend/src/features/user-popover/ui/mobile-dismiss-area.tsx
  frontend/src/features/user-popover/ui/quick-actions-grid.module.scss
  frontend/src/features/user-popover/ui/quick-actions-grid.tsx
  frontend/src/features/user-popover/ui/user-info-block.module.scss
  frontend/src/features/user-popover/ui/user-info-block.tsx
  frontend/src/features/user-popover/ui/user-menu-content.tsx
  frontend/src/features/user-popover/ui/user-popover.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/angular-separator/angular-separator.module.scss
  frontend/src/shared/ui/angular-separator/angular-separator.tsx
  frontend/src/shared/ui/angular-separator/index.ts
  frontend/src/shared/ui/glass-popover/glass-popover.module.scss
  frontend/src/shared/ui/glass-popover/glass-popover.tsx
  frontend/src/shared/ui/glass-popover/index.ts
  frontend/src/shared/ui/glass-sheet/glass-sheet.module.scss
  frontend/src/shared/ui/glass-sheet/glass-sheet.tsx
  frontend/src/shared/ui/glass-sheet/index.ts
  frontend/src/widgets/app-layout/config/primary-nav-config.ts
  frontend/src/widgets/app-layout/ui/header/app-header.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/sidebar-footer.tsx
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.tsx
Due: lint-frontend, e2e-frontend

e2e tests
  frontend/e2e/auth-visibility.spec.ts
  frontend/e2e/constants/test-timeouts.ts
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/e2e/main-menu.spec.ts
  frontend/e2e/page-objects/index.ts
  frontend/e2e/page-objects/primary-navigation.page.ts
  frontend/e2e/page-objects/secondary-sidebar.page.ts
  frontend/e2e/sidebar-navigation.spec.ts
Due: lint-frontend, e2e-frontend

e2e optional throttling
  frontend/package.json
  frontend/playwright.config.throttled.ts
Due: lint-frontend, e2e-frontend

sidebar styling improvements
  frontend/src/widgets/app-layout/ui/header/app-header.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/navigation-item.tsx
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.tsx
Due: lint-frontend, e2e-frontend

navigation and page improvements
  frontend/src/app/providers/home-redirect.tsx
  frontend/src/app/routers/index.tsx
  frontend/src/pages/landing/index.ts
  frontend/src/pages/landing/ui/index.ts
  frontend/src/pages/landing/ui/landing-page.tsx
  frontend/src/pages/training/index.ts
  frontend/src/pages/training/ui/index.ts
  frontend/src/pages/training/ui/training-page.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/app-layout/config/secondary-nav-config.ts
  frontend/src/widgets/app-layout/lib/route-to-section-mapper.ts
Due: lint-frontend, e2e-frontend

sidebar help menu
  frontend/src/features/help-popover/index.ts
  frontend/src/features/help-popover/ui/help-menu-content.module.scss
  frontend/src/features/help-popover/ui/help-menu-content.tsx
  frontend/src/features/help-popover/ui/help-popover.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/responsive-popover/responsive-popover.tsx
  frontend/src/widgets/app-layout/ui/header/app-header.tsx
  frontend/src/widgets/app-layout/ui/header/help/help-button.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/sidebar-footer.tsx
Due: lint-frontend, e2e-frontend

sidebar welcome label
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/app-layout/config/primary-nav-config.ts
  frontend/src/widgets/app-layout/config/secondary-nav-config.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/menu-items.tsx
Due: lint-frontend, e2e-frontend

workflow search; templates page
  frontend/e2e/page-objects/secondary-sidebar.page.ts
  frontend/src/app/routers/index.tsx
  frontend/src/features/create-popover/ui/create-actions-content.tsx
  frontend/src/pages/workflow/ui/index.ts
  frontend/src/pages/workflow/ui/templates-page.tsx
  frontend/src/pages/workflow/ui/workflows-list.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/app-layout/config/secondary-nav-config.ts
  frontend/src/widgets/app-layout/lib/route-to-section-mapper.ts
  frontend/src/widgets/app-layout/ui/app-layout.tsx
  frontend/src/widgets/app-layout/ui/header/app-header.tsx
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.tsx
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
  frontend/src/widgets/workflow/ui/index.ts
  frontend/src/widgets/workflow/ui/workflows-hero/hero-filters.tsx
  frontend/src/widgets/workflow/ui/workflows-hero/index.ts
  frontend/src/widgets/workflow/ui/workflows-hero/search-input.tsx
  frontend/src/widgets/workflow/ui/workflows-hero/workflows-hero.tsx
  frontend/src/widgets/workflow/ui/workflows-templates.tsx
Due: lint-frontend, e2e-frontend

menu and logo
  frontend/src/features/user-popover/ui/inline-theme-toggle.tsx
  frontend/src/widgets/app-layout/ui/app-layout.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/hamburger-icon/hamburger-icon.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/hamburger-icon/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/icons/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/icons/menu-collapse-icon.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/menu-items.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/mobile-header-dismiss-button/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/mobile-header-dismiss-button/mobile-header-dismiss-button.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/components/mobile-header-dismiss-button/mobile-header-dismiss-button.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/secondary-sidebar-mobile-header/index.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/secondary-sidebar-mobile-header/secondary-sidebar-mobile-header.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/components/secondary-sidebar-mobile-header/secondary-sidebar-mobile-header.tsx
  frontend/src/widgets/app-layout/ui/sidebar/constants/layout-constants.ts
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.tsx
  frontend/src/widgets/app-layout/ui/sidebar/secondary-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/secondary-sidebar.tsx
Due: lint-frontend, e2e-frontend

e2e iteration 2
  frontend/e2e/auth-network-errors.spec.ts
  frontend/e2e/auth-visibility.spec.ts
  frontend/e2e/constants/viewports.ts
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/e2e/sidebar-keyboard-navigation.spec.ts
  frontend/e2e/utils/auth-states.ts
  frontend/e2e/utils/index.ts
Due: lint-frontend, e2e-frontend

e2e iteration 1
  frontend/e2e/auth-visibility.spec.ts
  frontend/e2e/constants/test-timeouts.ts
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/e2e/helpers/base-page.ts
  frontend/e2e/helpers/index.ts
  frontend/e2e/helpers/locator-builder.ts
  frontend/e2e/helpers/viewport-testing.ts
  frontend/e2e/helpers/wait-helpers.ts
  frontend/e2e/page-objects/create-workflow-actions.page.ts
  frontend/e2e/page-objects/index.ts
  frontend/e2e/page-objects/primary-navigation.page.ts
  frontend/e2e/page-objects/secondary-sidebar.page.ts
  frontend/e2e/page-objects/user-menu.page.ts
  frontend/e2e/page-objects/workflow-card.page.ts
  frontend/e2e/public-workflows.spec.ts
  frontend/e2e/unauth-guards.spec.ts
  frontend/e2e/user-footer-auth-visibility.spec.ts
  frontend/e2e/utils/index.ts
  frontend/e2e/workflow-categories.spec.ts
  frontend/e2e/workflow.spec.ts
  frontend/src/features/create-popover/ui/create-actions-content.tsx
  frontend/src/features/user-popover/ui/quick-actions-grid.tsx
  frontend/src/features/user-popover/ui/user-info-block.tsx
  frontend/src/features/user-popover/ui/user-popover.tsx
  frontend/src/widgets/app-layout/ui/sidebar/components/sidebar-footer.tsx
Due: lint-frontend, e2e-frontend

e2e iteration 3
  frontend/e2e/constants/test-timeouts.ts
  frontend/e2e/dual-sidebar-mobile.spec.ts
  frontend/e2e/page-objects/secondary-sidebar.page.ts
  frontend/src/widgets/app-layout/ui/sidebar/secondary-sidebar.tsx
Due: lint-frontend, e2e-frontend

e2e iteration 4
  frontend/e2e/config/test-selectors.ts
  frontend/e2e/config/test-timeouts.ts
  frontend/e2e/page-objects/share-dialog-interactions.page.ts
  frontend/e2e/visibility-state-system.spec.ts
  frontend/e2e/workflow-sharing-bounds.spec.ts
  frontend/e2e/workflow-sharing-browser-specific.spec.ts
  frontend/e2e/workflow-sharing-network-errors.spec.ts
  frontend/e2e/workflow-sharing-unlisted.spec.ts
  frontend/e2e/workflow-sharing.spec.ts
Due: lint-frontend, e2e-frontend

e2e throttled mode for slow CI runners
  Makefile
  frontend/e2e/config/test-timeouts.ts
  frontend/e2e/constants/test-timeouts.ts
  frontend/e2e/utils/index.ts
  frontend/e2e/workflow-sharing.spec.ts
  frontend/playwright.config.throttled.ts
Due: lint-frontend, e2e-frontend

e2e iteration 5
  frontend/e2e/pages/IntegrationSettingsPage.ts
Due: lint-frontend, e2e-frontend

Fix e2e test failures with CI timeouts and auth state isolation
  frontend/e2e/auth-network-errors.spec.ts
  frontend/e2e/dual-sidebar-mobile.spec.ts
  frontend/e2e/sidebar-keyboard-navigation.spec.ts
  frontend/e2e/unauth-guards.spec.ts
  frontend/e2e/utils/index.ts
  frontend/playwright.config.ts
Due: lint-frontend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  test-backend: any of: backend/**/*
  build-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend/**/*, backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*
