Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

lint-docker-frontend:
  retry: 2
  before_script:
  - cd frontend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  retry: 2
  before_script:
  - cd backend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend-v2:
  retry: 2
  stage: lint
  image: hadolint/hadolint:latest-debian
  before_script:
  - cd backend-v2
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: node:22-alpine
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

lint-backend-v2:
  retry: 2
  stage: lint
  image: golangci/golangci-lint:v1.62-alpine
  before_script:
  - cd backend-v2
  script:
  - golangci-lint run --timeout=5m

test-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  script:
  - npm ci
  - DEBUG="infinity:*" npm run test
  artifacts:
  ...

test-backend-v2:
  retry: 2
  stage: test
  image: golang:1.25-alpine
  before_script:
  - cd backend-v2
  script:
  - apk add --no-cache git
  - go mod download
  - go test -v -coverprofile=coverage.out ./...
  - go tool cover -func=coverage.out
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

e2e-backend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

e2e-frontend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

fix e2e auth error tests
  frontend/e2e/auth-network-errors.spec.ts
  frontend/e2e/page-objects/index.ts
  frontend/e2e/page-objects/landing.page.ts
  frontend/e2e/page-objects/login-dialog.page.ts
  frontend/e2e/page-objects/notification.page.ts
  frontend/e2e/utils/index.ts
  frontend/src/entities/auth/ui/login-dialog/index.tsx
  frontend/src/pages/landing/ui/landing-page.tsx
Due: lint-frontend, e2e-frontend

e2e iteration 6
  frontend/e2e/auth-visibility.spec.ts
  frontend/e2e/config/test-timeouts.ts
  frontend/e2e/constants/test-timeouts.ts
  frontend/e2e/utils/index.ts
Due: lint-frontend, e2e-frontend

e2e iteration 7
  frontend/e2e/auth-flows.spec.ts
  frontend/e2e/auth-visibility.spec.ts
  frontend/e2e/constants/viewports.ts
  frontend/e2e/dual-sidebar-mobile.spec.ts
  frontend/e2e/page-objects/secondary-sidebar.page.ts
  frontend/e2e/sidebar-keyboard-navigation.spec.ts
  frontend/e2e/utils/index.ts
  frontend/src/shared/composables/use-mobile.ts
Due: lint-frontend, e2e-frontend

Fix integration test isolation race condition
  frontend/e2e/pages/IntegrationSettingsPage.ts
Due: lint-frontend, e2e-frontend

Fix integration e2e tests
  frontend/e2e/pages/IntegrationSettingsPage.ts
Due: lint-frontend, e2e-frontend

correct time estimation commentary
  scripts/estimate-hours.sh
Due: none

Fix dual side-bar tests
  frontend/e2e/dual-sidebar-mobile.spec.ts
Due: lint-frontend, e2e-frontend

Fix overlay selector to check data-state attribute separately
  frontend/e2e/dual-sidebar-mobile.spec.ts
  frontend/e2e/page-objects/secondary-sidebar.page.ts
Due: lint-frontend, e2e-frontend

integrations persist between tests
  backend-v2/internal/modules/integration/service.go
  frontend/e2e/integrations.spec.ts
  frontend/e2e/pages/IntegrationSettingsPage.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

increase timeout for slow CI runners
  frontend/playwright.config.ts
Due: lint-frontend, e2e-frontend

auth UI improvements
  frontend/src/entities/auth/ui/auth-form-field/index.tsx
  frontend/src/entities/auth/ui/auth-form-title/index.tsx
  frontend/src/entities/auth/ui/auth-page-layout/index.tsx
  frontend/src/entities/auth/ui/auth-page-layout/logo-header.tsx
  frontend/src/entities/auth/ui/index.ts
  frontend/src/entities/auth/ui/login-dialog/index.tsx
  frontend/src/pages/login/ui/form-fields.tsx
  frontend/src/pages/login/ui/login-page.tsx
  frontend/src/pages/login/ui/submit-button.tsx
  frontend/src/pages/password-recover/ui/forgot-password.tsx
  frontend/src/pages/password-recover/ui/reset-password.tsx
  frontend/src/pages/signup/ui/signup-page.tsx
  frontend/src/shared/ui/password-input.tsx
  frontend/src/shared/ui/password-strength-indicator.tsx
Due: lint-frontend, e2e-frontend

improve login
  frontend/src/app/index.css
  frontend/src/entities/auth/ui/login-dialog/components/auth-form-fields.tsx
  frontend/src/entities/auth/ui/login-dialog/components/navigation-links.tsx
  frontend/src/entities/auth/ui/login-dialog/components/primary-submit-button.tsx
  frontend/src/entities/auth/ui/login-dialog/components/secondary-text-link.tsx
  frontend/src/entities/auth/ui/login-dialog/index.tsx
  frontend/src/shared/ui/glass-auth-dialog/index.tsx
Due: lint-frontend, e2e-frontend

improve signup
  frontend/e2e/auth-flows.spec.ts
  frontend/e2e/page-objects/login-dialog.page.ts
  frontend/e2e/utils/index.ts
  frontend/src/entities/auth/ui/navigation-links/forgot-password-link.tsx
  frontend/src/entities/auth/ui/navigation-links/index.ts
  frontend/src/entities/auth/ui/navigation-links/login-link.tsx
  frontend/src/entities/auth/ui/navigation-links/signup-link.tsx
  frontend/src/pages/signup/ui/signup-page.tsx
  frontend/src/shared/ui/form-fields/email-field.tsx
  frontend/src/shared/ui/form-fields/index.ts
  frontend/src/shared/ui/form-fields/password-field-with-strength.tsx
  frontend/src/shared/ui/form-fields/username-field.tsx
Due: lint-frontend, e2e-frontend

improve forgot password
  frontend/src/entities/auth/ui/login-dialog/components/email-or-username-field.tsx
  frontend/src/entities/auth/ui/login-dialog/components/index.ts
  frontend/src/entities/auth/ui/login-dialog/components/navigation-links.tsx
  frontend/src/pages/password-recover/ui/forgot-password.tsx
  frontend/src/pages/password-recover/ui/reset-password.tsx
Due: lint-frontend, e2e-frontend

improve ThankYouDialog
  frontend/src/entities/auth/ui/thank-you-dialog/action-button.tsx
  frontend/src/entities/auth/ui/thank-you-dialog/index.tsx
  frontend/src/entities/auth/ui/thank-you-dialog/success-icon.tsx
  frontend/src/entities/auth/ui/thank-you-dialog/success-message.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/glass-auth-dialog/index.tsx
  frontend/src/shared/ui/primary-dialog-button/index.tsx
Due: lint-frontend, e2e-frontend

improve EmailSentDialog
  frontend/e2e/auth-flows.spec.ts
  frontend/src/entities/auth/ui/email-sent-dialog/close-button.tsx
  frontend/src/entities/auth/ui/email-sent-dialog/email-icon.tsx
  frontend/src/entities/auth/ui/email-sent-dialog/index.tsx
  frontend/src/shared/lib/intl/en.ts
Due: lint-frontend, e2e-frontend

add animations
  frontend/src/app/index.css
  frontend/src/entities/auth/ui/login-dialog/components/primary-submit-button.tsx
  frontend/src/shared/config/animation-constants.ts
  frontend/src/shared/config/index.ts
  frontend/src/shared/lib/animation/button-animations.ts
  frontend/src/shared/lib/animation/index.ts
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-dialog-animation.ts
  frontend/src/shared/ui/glass-auth-dialog/index.tsx
  frontend/src/shared/ui/input.tsx
  frontend/src/shared/ui/password-input.tsx
Due: lint-frontend, e2e-frontend

scaffold plugins/tgs-player
  plugins/tgs-player/.eslintrc.cjs
  plugins/tgs-player/.gitignore
  plugins/tgs-player/README.md
  plugins/tgs-player/output/NewsEmoji_073.player.js
  plugins/tgs-player/output/test.html
  plugins/tgs-player/package.json
  plugins/tgs-player/pnpm-lock.yaml
  plugins/tgs-player/src/cli.ts
  plugins/tgs-player/src/converter/index.ts
  plugins/tgs-player/src/converter/tgs-converter.test.ts
  plugins/tgs-player/src/converter/tgs-converter.ts
  plugins/tgs-player/src/converter/types.test.ts
  plugins/tgs-player/src/converter/types.ts
  plugins/tgs-player/src/generator/data-serializer.ts
  plugins/tgs-player/src/generator/index.ts
  plugins/tgs-player/src/generator/runtime-bundler.ts
  plugins/tgs-player/src/generator/standalone-generator.ts
  plugins/tgs-player/src/index.ts
  plugins/tgs-player/src/parser/animation-validator.test.ts
  plugins/tgs-player/src/parser/animation-validator.ts
  plugins/tgs-player/src/parser/index.ts
  plugins/tgs-player/src/parser/lottie-types.ts
  plugins/tgs-player/src/parser/metadata-extractor.test.ts
  plugins/tgs-player/src/parser/metadata-extractor.ts
  plugins/tgs-player/src/parser/tgs-decompressor.ts
  plugins/tgs-player/src/runtime/bezier-easer.ts
  plugins/tgs-player/src/runtime/index.ts
  plugins/tgs-player/src/runtime/interpolator.ts
  plugins/tgs-player/src/runtime/player.ts
  plugins/tgs-player/src/runtime/svg-builder.ts
  plugins/tgs-player/tsconfig.json
  plugins/tgs-player/vitest.config.ts
Due: none

add wire-tree proto
  plugins/wire-tree/css/icons.css
  plugins/wire-tree/css/reset.css
  plugins/wire-tree/css/spark.css
  plugins/wire-tree/css/tree.css
  plugins/wire-tree/css/wire.css
  plugins/wire-tree/index.html
  plugins/wire-tree/js/branch.js
  plugins/wire-tree/js/connector.js
  plugins/wire-tree/js/dom-utils.js
  plugins/wire-tree/js/main.js
  plugins/wire-tree/js/node-data.js
  plugins/wire-tree/js/path-builder.js
  plugins/wire-tree/js/spark.js
  plugins/wire-tree/js/tree-node.js
  plugins/wire-tree/js/tree.js
  plugins/wire-tree/js/wire.js
Due: none

implement .tgs -> .js generation
  .github/docs/TODO.md
  plugins/tgs-player/.gitignore
  plugins/tgs-player/README.md
  plugins/tgs-player/REFACTORING_SUMMARY.md
  plugins/tgs-player/golden/012.golden.json
  plugins/tgs-player/golden/021.golden.json
  plugins/tgs-player/golden/022.golden.json
  plugins/tgs-player/golden/065.golden.json
  plugins/tgs-player/golden/073.golden.json
  plugins/tgs-player/output/NewsEmoji_073.player.js
  plugins/tgs-player/output/test.html
  plugins/tgs-player/package.json
  plugins/tgs-player/pnpm-lock.yaml
  plugins/tgs-player/src/__tests__/golden.test.ts
  plugins/tgs-player/src/cli.ts
  plugins/tgs-player/src/converter/tgs-converter-features.test.ts
  plugins/tgs-player/src/generator/runtime-bundler.ts
  plugins/tgs-player/src/generator/standalone-generator.ts
  plugins/tgs-player/src/parser/lottie-types.ts
  plugins/tgs-player/src/runtime/__tests__/shape-collector.test.ts
  plugins/tgs-player/src/runtime/__tests__/stroke-order-detector.test.ts
  plugins/tgs-player/src/runtime/__tests__/transform-calculator.test.ts
  plugins/tgs-player/src/runtime/debug-logger.ts
  plugins/tgs-player/src/runtime/gradient-builder.ts
  plugins/tgs-player/src/runtime/group-builder.ts
  plugins/tgs-player/src/runtime/index.ts
  plugins/tgs-player/src/runtime/interpolator.ts
  plugins/tgs-player/src/runtime/path-element-factory.ts
  plugins/tgs-player/src/runtime/player.ts
  plugins/tgs-player/src/runtime/shape-collector.ts
  plugins/tgs-player/src/runtime/stroke-order-detector.ts
  plugins/tgs-player/src/runtime/svg-builder.ts
  plugins/tgs-player/src/runtime/transform-calculator.ts
  plugins/tgs-player/src/runtime/trim-paths.ts
Due: none

add workflow tree proto
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/entities/workflow/api/index.ts
  frontend/src/entities/workflow/api/use-workflow.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-tree.tsx
  frontend/src/features/workflow-tree/context/index.ts
  frontend/src/features/workflow-tree/context/tree-animation-context.tsx
  frontend/src/features/workflow-tree/core/tree-computer.ts
  frontend/src/features/workflow-tree/core/tree-record.ts
  frontend/src/features/workflow-tree/core/tree-walker.ts
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/hooks/use-tree-expansion.ts
  frontend/src/features/workflow-tree/hooks/use-tree-walker.ts
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/styles/wire-tree.css
  frontend/src/features/workflow-tree/virtualization/virtualized-tree.tsx
  frontend/src/shared/base-types/workflow.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

update makefile
  Makefile
Due: none

add --optimize flag: in-place static value optimization
  plugins/tgs-player/golden/065.golden.json
  plugins/tgs-player/src/__tests__/optimizer.test.ts
  plugins/tgs-player/src/cli.ts
  plugins/tgs-player/src/generator/optimized-generator.ts
  plugins/tgs-player/src/optimizer/build-transformer.ts
  plugins/tgs-player/src/optimizer/bundle-structure-builder.ts
  plugins/tgs-player/src/optimizer/index.ts
  plugins/tgs-player/src/optimizer/optimizer.ts
  plugins/tgs-player/src/optimizer/precompute-static.ts
  plugins/tgs-player/src/optimizer/property-analyzer.ts
  plugins/tgs-player/src/optimizer/static-value-computer.ts
  plugins/tgs-player/src/runtime/optimized-player.ts
  plugins/tgs-player/src/runtime/svg-builder.ts
Due: none

improve worflow tree
  Makefile
  frontend/e2e/wire-tree-paths.spec.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/workflow-tree/components/container-renderer.tsx
  frontend/src/features/workflow-tree/components/segment-row.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/tree-node-wire-paths.test.ts
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/context/tree-animation-context.tsx
  frontend/src/features/workflow-tree/core/tree-walker.ts
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/segments/index.ts
  frontend/src/features/workflow-tree/segments/segment-computer.test.ts
  frontend/src/features/workflow-tree/segments/segment-computer.ts
  frontend/src/features/workflow-tree/segments/types.ts
  frontend/src/features/workflow-tree/styles/wire-tree.css
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/shared/base-types/workflow.ts
  frontend/src/test/setup.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
  frontend/vite.config.ts
  plugins/wire-tree/css/icons.css
  plugins/wire-tree/css/reset.css
  plugins/wire-tree/css/spark.css
  plugins/wire-tree/css/tree.css
  plugins/wire-tree/css/wire.css
  plugins/wire-tree/index.html
  plugins/wire-tree/js/branch.js
  plugins/wire-tree/js/connector.js
  plugins/wire-tree/js/dom-utils.js
  plugins/wire-tree/js/main.js
  plugins/wire-tree/js/node-data.js
  plugins/wire-tree/js/path-builder.js
  plugins/wire-tree/js/spark.js
  plugins/wire-tree/js/tree-node.js
  plugins/wire-tree/js/tree.js
  plugins/wire-tree/js/wire.js
Due: lint-frontend, e2e-frontend

tests for tgs-player
  plugins/tgs-player/golden/065.golden.json
  plugins/tgs-player/golden/073.golden.json
  plugins/tgs-player/src/__tests__/golden.test.ts
  plugins/tgs-player/src/__tests__/optimizer.test.ts
  plugins/tgs-player/src/cli.ts
  plugins/tgs-player/src/generator/__tests__/data-serializer.test.ts
  plugins/tgs-player/src/generator/optimized-generator.ts
  plugins/tgs-player/src/optimizer/precompute-static.ts
  plugins/tgs-player/src/parser/__tests__/tgs-decompressor.test.ts
  plugins/tgs-player/src/runtime/__tests__/bezier-easer.test.ts
  plugins/tgs-player/src/runtime/__tests__/gradient-builder.test.ts
  plugins/tgs-player/src/runtime/__tests__/interpolator.test.ts
  plugins/tgs-player/src/runtime/__tests__/path-element-factory.test.ts
  plugins/tgs-player/src/runtime/__tests__/player.test.ts
  plugins/tgs-player/src/runtime/__tests__/svg-builder.test.ts
  plugins/tgs-player/src/runtime/__tests__/trim-paths.test.ts
  plugins/tgs-player/src/runtime/optimized-player.ts
  plugins/tgs-player/src/runtime/svg-builder.ts
Due: none

cleanup
  plugins/tgs-player/README.md
  plugins/tgs-player/src/__tests__/golden.test.ts
  plugins/tgs-player/src/__tests__/optimizer.test.ts
  plugins/tgs-player/src/generator/__tests__/data-serializer.test.ts
  plugins/tgs-player/src/runtime/__tests__/interpolator.test.ts
  plugins/tgs-player/src/runtime/__tests__/path-element-factory.test.ts
  plugins/tgs-player/src/runtime/__tests__/player.test.ts
  plugins/tgs-player/src/runtime/__tests__/svg-builder.test.ts
Due: none

add base-genie animated ui component
  frontend/e2e/wire-tree-paths.spec.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/components/workflow-tree.tsx
  frontend/src/shared/assets/genie/base-genie.json
  frontend/src/shared/assets/genie/base-genie.player.js
  frontend/src/shared/assets/genie/base-genie.tgs
  frontend/src/shared/assets/genie/eyes-blink.json
  frontend/src/shared/assets/genie/eyes-blink.player.js
  frontend/src/shared/assets/genie/eyes-blink.tgs
  frontend/src/shared/assets/genie/index.html
  frontend/src/shared/assets/genie/radial-flash.json
  frontend/src/shared/assets/genie/radial-flash.player.js
  frontend/src/shared/assets/genie/radial-flash.tgs
  frontend/src/shared/ui/genie/genie.tsx
  frontend/src/shared/ui/genie/index.ts
  plugins/tgs-player/--output
  plugins/tgs-player/demo/base-genie.player.js
  plugins/tgs-player/demo/debug.html
  plugins/tgs-player/demo/eyes-blink.player.js
  plugins/tgs-player/demo/genie-parts.html
  plugins/tgs-player/demo/radial-flash.player.js
  plugins/tgs-player/demo/test.html
  plugins/tgs-player/index.html
  plugins/tgs-player/scripts/extract-genie-parts.ts
Due: lint-frontend, e2e-frontend

Add virtualized tree with itemKey and Genie state management
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/components/workflow-tree.tsx
  frontend/src/features/workflow-tree/virtualization/virtualized-tree.tsx
  frontend/src/shared/lib/__tests__/player-cache.test.ts
  frontend/src/shared/lib/__tests__/use-node-cache-cleanup.test.ts
  frontend/src/shared/lib/genie-state-api.ts
  frontend/src/shared/lib/genie-state-store.test.ts
  frontend/src/shared/lib/genie-state-store.ts
  frontend/src/shared/lib/player-cache.ts
  frontend/src/shared/lib/use-genie-state.test.ts
  frontend/src/shared/lib/use-genie-state.ts
  frontend/src/shared/lib/use-node-cache-cleanup.ts
  frontend/src/shared/lib/virtualized-list/__tests__/list.test.tsx
  frontend/src/shared/lib/virtualized-list/__tests__/resize-observer-mock.ts
  frontend/src/shared/lib/virtualized-list/__tests__/test-utils.tsx
  frontend/src/shared/lib/virtualized-list/__tests__/tracked-row.tsx
  frontend/src/shared/lib/virtualized-list/index.ts
  frontend/src/shared/lib/virtualized-list/list.tsx
  frontend/src/shared/lib/virtualized-list/types.ts
  frontend/src/shared/lib/virtualized-list/use-element-height.ts
  frontend/src/shared/ui/genie/clipboard.tsx
  frontend/src/shared/ui/genie/genie-base.tsx
  frontend/src/shared/ui/genie/genie-reading.css
  frontend/src/shared/ui/genie/genie.tsx
  frontend/src/shared/ui/genie/hands.tsx
  frontend/src/shared/ui/genie/index.ts
  frontend/src/shared/ui/genie/radial-flash.tsx
  frontend/src/shared/ui/genie/types.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
  frontend/vite.config.ts
Due: lint-frontend, e2e-frontend

Add SSE progress streaming
  backend-v2/internal/modules/progress/controller.go
  backend-v2/internal/modules/progress/controller_test.go
  backend-v2/internal/modules/progress/routes.go
  backend-v2/internal/modules/progress/routes_test.go
  backend-v2/internal/modules/router/register.go
  backend/src/controllers/ProgressStreamController.js
  backend/src/controllers/__tests__/ProgressStreamController.test.js
  backend/src/controllers/commandExecutor/ExecutorController.js
  backend/src/routers/apiRouter.js
  backend/src/routers/progressStreamRouter.js
  backend/src/services/__tests__/progress-event-emitter.test.js
  backend/src/services/progress-event-emitter.js
  frontend/src/app/providers/progress-stream-provider.tsx
  frontend/src/app/providers/providers.tsx
  frontend/src/shared/lib/__tests__/progress-stream-client.test.ts
  frontend/src/shared/lib/genie-state-store.ts
  frontend/src/shared/lib/progress-stream-client.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Add centralized command-role and role-color mapping
  frontend/src/app/providers/progress-stream-provider.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/shared/constants/__tests__/command-roles.test.ts
  frontend/src/shared/constants/command-roles.ts
  frontend/src/shared/ui/genie/__tests__/role-colors.test.ts
  frontend/src/shared/ui/genie/genie-base.tsx
  frontend/src/shared/ui/genie/role-colors.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add workflow execute-merge-persist full-stack pipeline
  backend-v2/internal/modules/progress/controller.go
  backend-v2/internal/modules/progress/controller_stream_test.go
  backend-v2/internal/modules/progress/controller_test.go
  backend-v2/internal/modules/workflow/register.go
  backend-v2/internal/modules/workflow/routes_test.go
  frontend/src/entities/workflow/api/index.ts
  frontend/src/entities/workflow/api/use-workflow-mutation.ts
  frontend/src/entities/workflow/lib/index.ts
  frontend/src/entities/workflow/lib/merge-workflow-nodes.test.ts
  frontend/src/entities/workflow/lib/merge-workflow-nodes.ts
  frontend/src/features/workflow-tree/api/execute-workflow-command.ts
  frontend/src/features/workflow-tree/context/index.ts
  frontend/src/features/workflow-tree/context/workflow-tree-provider.tsx
  frontend/src/features/workflow-tree/hooks/use-execute-from-tree.test.ts
  frontend/src/features/workflow-tree/hooks/use-execute-from-tree.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add SSE state mapping with error tracking and workflow widget API integration
  backend-v2/e2e/workflow.e2e.test.js
  frontend/e2e/wire-tree-paths.spec.ts
  frontend/src/app/providers/progress-stream-provider.tsx
  frontend/src/entities/workflow/api/use-workflow.ts
  frontend/src/features/workflow-tree/context/__tests__/workflow-tree-provider.test.tsx
  frontend/src/features/workflow-tree/context/workflow-tree-provider.tsx
  frontend/src/features/workflow-tree/index.ts
  frontend/src/pages/workflow/ui/workflow.tsx
  frontend/src/shared/lib/__tests__/command-querytype-mapper.test.ts
  frontend/src/shared/lib/__tests__/genie-state-store.test.ts
  frontend/src/shared/lib/__tests__/progress-stream-client.test.ts
  frontend/src/shared/lib/command-querytype-mapper.ts
  frontend/src/shared/lib/genie-state-store.test.ts
  frontend/src/shared/lib/genie-state-store.ts
  frontend/src/shared/lib/progress-stream-client.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add tree context menu with node actions
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/workflow-tree/components/container-renderer.tsx
  frontend/src/features/workflow-tree/components/segment-row.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/components/workflow-tree.tsx
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/hooks/__tests__/tree-expansion.test.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-expansion-behavior.test.ts
  frontend/src/features/workflow-tree/hooks/use-tree-expansion.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/shared/ui/context-menu.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add selectedId to workflow store with atomic staleness clearing
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Add inline title editing with shared editable-field components
  frontend/src/entities/workflow/lib/index.ts
  frontend/src/entities/workflow/lib/normalize-title.test.ts
  frontend/src/entities/workflow/lib/normalize-title.ts
  frontend/src/features/workflow-tree/components/container-renderer.tsx
  frontend/src/features/workflow-tree/components/segment-row.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/editable-field/__tests__/editable-text-area.test.tsx
  frontend/src/shared/ui/editable-field/__tests__/editable-text.test.tsx
  frontend/src/shared/ui/editable-field/__tests__/use-editable-field.test.ts
  frontend/src/shared/ui/editable-field/editable-text-area.tsx
  frontend/src/shared/ui/editable-field/editable-text.tsx
  frontend/src/shared/ui/editable-field/index.ts
  frontend/src/shared/ui/editable-field/use-editable-field.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/node-title-editor.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Fix workflow tree excessive re-renders, wire fix
  frontend/src/features/workflow-tree/components/container-renderer.tsx
  frontend/src/features/workflow-tree/components/segment-row.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/tree-node-wire-paths.test.ts
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/components/workflow-tree.tsx
  frontend/src/features/workflow-tree/context/tree-animation-context.tsx
  frontend/src/features/workflow-tree/core/__tests__/spark-delay.test.ts
  frontend/src/features/workflow-tree/core/__tests__/tree-node-memo.test.ts
  frontend/src/features/workflow-tree/core/__tests__/tree-walker.test.ts
  frontend/src/features/workflow-tree/core/constants.ts
  frontend/src/features/workflow-tree/core/spark-delay.ts
  frontend/src/features/workflow-tree/core/tree-node-memo.ts
  frontend/src/features/workflow-tree/core/tree-walker.ts
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/hooks/use-animated-toggle.ts
  frontend/src/features/workflow-tree/segments/segment-computer.test.ts
  frontend/src/features/workflow-tree/segments/segment-computer.ts
  frontend/src/features/workflow-tree/segments/types.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/features/workflow-tree/virtualization/virtualized-tree.tsx
  frontend/src/shared/lib/hooks/index.ts
  frontend/src/shared/lib/hooks/use-stable-callback.ts
  frontend/src/shared/lib/virtualized-list/__tests__/list.test.tsx
  frontend/src/shared/lib/virtualized-list/__tests__/tracked-row.tsx
  frontend/src/shared/lib/virtualized-list/list.tsx
  frontend/src/shared/lib/virtualized-list/types.ts
Due: lint-frontend, e2e-frontend

Add hasUsableRoot guard for ghost-root empty state detection
  frontend/src/entities/workflow/lib/node-validation.test.ts
  frontend/src/entities/workflow/lib/node-validation.ts
  frontend/src/widgets/workflow/ui/empty-workflow-view.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Fix dual-sidebar active state and hover styling
  frontend/e2e/dual-sidebar-active-states.spec.ts
  frontend/e2e/page-objects/primary-navigation.page.ts
  frontend/e2e/page-objects/secondary-sidebar.page.ts
  frontend/src/shared/ui/sidebar.tsx
  frontend/src/widgets/app-layout/config/primary-nav-config.test.ts
  frontend/src/widgets/app-layout/config/primary-nav-config.ts
  frontend/src/widgets/app-layout/config/secondary-nav-config.test.ts
  frontend/src/widgets/app-layout/ui/sidebar/components/navigation-item.tsx
  frontend/src/widgets/app-layout/ui/sidebar/primary-sidebar.module.scss
Due: lint-frontend, e2e-frontend

Fix execution concurrency with per-node tracking and guard
  frontend/src/features/workflow-tree/index.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/index.ts
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*
