Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-frontend, lint-backend, test-backend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  test-backend: any of: backend/**/*

make async search in waitlist and user stats pages; add mock api calls; set gpt-4.1-mini as default openai model; auth flow check; fix controller method of reject
  backend/src/controllers/StatisticsController.js
  backend/src/controllers/utils/createOpenaiIntegration.js
  backend/src/routers/statisticsRouter.js
  backend/src/scripts/createWaitlistUsers.js
  frontend/.gitignore
  frontend/e2e/auth-flows.spec.ts
  frontend/e2e/main-menu.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/src/entities/admin/api/use-admin-users.ts
  frontend/src/entities/admin/api/use-user-profile.ts
  frontend/src/entities/admin/api/use-waitlist.ts
  frontend/src/entities/admin/model/index.ts
  frontend/src/pages/admin/ui/admin-users.tsx
  frontend/src/pages/admin/ui/user-profile.tsx
  frontend/src/pages/admin/ui/waitlist.tsx
  frontend/src/shared/config/index.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/app-layout/ui/header/user-settings/user-settings-button.tsx
  frontend/src/widgets/dashboard-admin/ui/admin-users-table.tsx
  frontend/src/widgets/dashboard-admin/ui/user-profile.tsx
  frontend/src/widgets/waitlist/ui/waitlist-table.tsx
Due: lint-frontend, lint-backend, test-backend

rewrite settings-page to responsive layout; show "add integration" when no integration exists; set empty key to avoid openai package error; show all models when user types api key
  frontend/src/pages/user-settings/ui/integration/dialogs/custom-llm-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/openai-dialog.tsx
  frontend/src/pages/user-settings/ui/settings-page.tsx
  frontend/src/pages/user-settings/ui/user-settings.tsx
  frontend/src/shared/lib/intl/en.ts
Due: lint-frontend

make search from language name instead of code; change translate-x/y to flex container on dialog popup; set columns on xl window size; convert images to webp and compress size
  frontend/src/pages/user-settings/ui/settings-page.tsx
  frontend/src/pages/user-settings/ui/user-settings.tsx
  frontend/src/shared/assets/claude.jpeg
  frontend/src/shared/assets/claude.webp
  frontend/src/shared/assets/custom.jpeg
  frontend/src/shared/assets/custom.webp
  frontend/src/shared/assets/deepseek.png
  frontend/src/shared/assets/deepseek.webp
  frontend/src/shared/assets/delta5-logo.png
  frontend/src/shared/assets/delta5-logo.webp
  frontend/src/shared/assets/google_drive.png
  frontend/src/shared/assets/google_drive.webp
  frontend/src/shared/assets/index.ts
  frontend/src/shared/assets/openai.jpg
  frontend/src/shared/assets/openai.webp
  frontend/src/shared/assets/perplexity.jpg
  frontend/src/shared/assets/perplexity.webp
  frontend/src/shared/assets/qwen.png
  frontend/src/shared/assets/qwen.webp
  frontend/src/shared/assets/yandex_gpt.png
  frontend/src/shared/assets/yandex_gpt.webp
  frontend/src/shared/ui/dialog.tsx
Due: lint-frontend

set min width for dialog content; set integration title to corresponding integrations; hide openai models only when api key field is empty
  frontend/src/pages/user-settings/ui/integration/dialogs/claude-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/custom-llm-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/deepseek-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/google-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/openai-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/perplexity-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/qwen-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/yandex-dialog.tsx
  frontend/src/shared/ui/dialog.tsx
Due: lint-frontend

truncate long username; set default openai-model on empty api-key input; add openai with apiKey e2e test
  frontend/.env.example
  frontend/e2e/integrations.spec.ts
  frontend/e2e/utils/e2e-env-vars.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/openai-dialog.tsx
  frontend/src/widgets/app-layout/ui/header/user-settings/user-settings-button.tsx
Due: lint-frontend

replace genversion with script
  frontend/.gitignore
  frontend/genversion.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/password-recover/ui/forgot-password.tsx
  frontend/src/pages/password-recover/ui/reset-password.tsx
  frontend/src/pages/signup/ui/signup-page.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/click-to-copy.tsx
  frontend/src/shared/ui/sidebar.tsx
  frontend/src/shared/ui/version.tsx
  frontend/src/version.ts
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.tsx
  frontend/tsconfig.app.json
Due: lint-frontend

set genversion before dev or build
  frontend/package.json
Due: lint-frontend

set gap between theme-switcher and buttons; replace radio-group with accent/outline buttons
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/app-layout/ui/header/app-header.tsx
  frontend/src/widgets/app-layout/ui/header/theme-resolver/theme-resolver.tsx
Due: lint-frontend

use os-theme to detect day/night theme
  frontend/src/widgets/app-layout/ui/header/theme-resolver/theme-resolver.tsx
Due: lint-frontend

set simple version for frontend
  .gitlab-ci.yml
Due: none

fix lint; set primary color to dropdown-item; set primary colors to sidebar items; remove nested cards from workflow empty state
  frontend/src/app/index.css
  frontend/src/shared/ui/dropdown-menu.tsx
  frontend/src/shared/ui/sidebar.tsx
  frontend/src/widgets/app-layout/ui/header/app-header.tsx
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.tsx
  frontend/src/widgets/workflow/ui/workflow-card.tsx
Due: lint-frontend

set text-color to primary-foreground on hover in app-sidebar
  frontend/src/shared/ui/sidebar.tsx
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.module.scss
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.tsx
Due: lint-frontend

vite Safari compatibility
  frontend/vite.config.ts
Due: lint-frontend

setup eslint-literals plugin; add missing translations
  frontend/eslint.config.js
  frontend/src/pages/password-recover/ui/forgot-password.tsx
  frontend/src/pages/password-recover/ui/reset-password.tsx
  frontend/src/pages/signup/ui/signup-page.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/google-dialog.tsx
  frontend/src/pages/user-settings/ui/settings-page.tsx
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/copyright.tsx
  frontend/src/shared/ui/dialog.tsx
  frontend/src/shared/ui/pagination.tsx
  frontend/src/shared/ui/sheet.tsx
  frontend/src/shared/ui/sidebar.tsx
  frontend/src/shared/ui/status-placeholder.tsx
  frontend/src/shared/ui/table.tsx
  frontend/src/widgets/app-layout/ui/header/user-settings/user-settings-button.tsx
  frontend/src/widgets/dashboard-admin/ui/admin-users-table.tsx
  frontend/src/widgets/dashboard-admin/ui/user-profile.tsx
  frontend/src/widgets/waitlist/ui/waitlist-table.tsx
  frontend/src/widgets/workflow/ui/workflow-card/shared-with-avatars.tsx
  frontend/src/widgets/workflow/ui/workflow-pagination.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
  frontend/src/widgets/workflow/ui/workflows-templates.tsx
Due: lint-frontend

disable debug-protection option in obfuscatore-plugin
  frontend/vite.config.ts
Due: lint-frontend

setup
  backend-v2/cmd/app/server.go
  backend-v2/go.mod
  backend-v2/go.sum
  backend-v2/internal/config/config.go
  backend-v2/internal/database/mongo.go
  backend-v2/internal/middlewares/auth.go
  backend-v2/internal/models/workflow.go
  backend-v2/internal/modules/router/register.go
  backend-v2/internal/modules/workflow/controller.go
  backend-v2/internal/modules/workflow/register.go
  backend-v2/internal/modules/workflow/service.go
Due: none

auth-middleware; put-workflow endpoint; just set config to variables without load function; load env; set cors, logger and recover; Dockerfile
  backend-v2/.gitignore
  backend-v2/Dockerfile
  backend-v2/cmd/app/server.go
  backend-v2/go.mod
  backend-v2/go.sum
  backend-v2/internal/config/config.go
  backend-v2/internal/middlewares/auth.go
  backend-v2/internal/middlewares/extract-user-id.go
  backend-v2/internal/modules/router/register.go
  backend-v2/internal/modules/workflow/controller.go
  backend-v2/internal/modules/workflow/register.go
  backend-v2/internal/modules/workflow/service.go
  backend-v2/main.go
Due: none

setup api/v2 router
  frontend/src/shared/base-types/api.ts
  frontend/src/shared/composables/use-api-mutation.ts
  frontend/src/shared/composables/use-api-query.ts
  frontend/src/shared/config/api.ts
  frontend/src/shared/lib/base-api.ts
  frontend/vite.config.ts
Due: lint-frontend

accent color for active menu item
  frontend/src/widgets/app-layout/ui/sidebar/app-sidebar.module.scss
Due: lint-frontend

unauth and workflow tests
  frontend/e2e/main-menu.spec.ts
  frontend/e2e/unauth-guards.spec.ts
  frontend/e2e/workflow.spec.ts
  frontend/playwright.config.ts
  frontend/src/widgets/app-layout/ui/header/create-workflow/create-workflow.tsx
  frontend/src/widgets/workflow/ui/workflow-card.tsx
  frontend/src/widgets/workflow/ui/workflow-card/add-dashboard.tsx
Due: lint-frontend

minor changes
  frontend/src/pages/password-recover/ui/forgot-password.tsx
  frontend/src/pages/password-recover/ui/reset-password.tsx
  frontend/src/pages/signup/ui/signup-page.tsx
  frontend/src/shared/ui/version.tsx
  frontend/src/widgets/workflow/ui/workflow-card.tsx
  frontend/src/widgets/workflow/ui/workflow-card/add-dashboard.tsx
Due: lint-frontend

translation for "build"
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/ui/version.tsx
Due: lint-frontend

gitignore; backend e2e tests; add test:e2e:http; extend tests; strict assertions for API tests; add DELETE integration endpoint; parallel E2E tests
  .gitignore
  backend/.gitignore
  backend/e2e/auth.e2e.test.js
  backend/e2e/error.e2e.test.js
  backend/e2e/integration.e2e.test.js
  backend/e2e/llm-vector.e2e.test.js
  backend/e2e/macro.e2e.test.js
  backend/e2e/setup.js
  backend/e2e/shared/fixtures.js
  backend/e2e/shared/gridfs-mock.js
  backend/e2e/shared/http-mode-helpers.js
  backend/e2e/shared/requests.js
  backend/e2e/shared/test-helpers.js
  backend/e2e/statistics.e2e.test.js
  backend/e2e/sync.e2e.test.js
  backend/e2e/template.e2e.test.js
  backend/e2e/unauth.e2e.test.js
  backend/e2e/url-thumbnail.e2e.test.js
  backend/e2e/user.e2e.test.js
  backend/e2e/workflow.e2e.test.js
  backend/package.json
  backend/src/app.test.js
  backend/src/constants.js
  backend/src/controllers/IntegrationController.js
  backend/src/routers/integrationRouter.js
  backend/src/shared/config/constants.js
Due: lint-backend, test-backend

fix lint
  frontend/src/shared/ui/version.tsx
Due: lint-frontend

.gitignore; update claude models; .gitignore
  .gitignore
  backend/.gitignore
  backend/src/constants.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getModelSettings.js
  frontend/src/shared/config/llm.config.ts
  frontend/src/shared/lib/llm/claude.ts
Due: lint-frontend, lint-backend, test-backend

protect macro api endpoints; set right code to output
  backend/src/controllers/MacroController.js
  backend/src/controllers/MacroController.test.js
  backend/src/routers/macroRouter.js
Due: lint-backend, test-backend

updated macro api tests
  backend/e2e/macro.e2e.test.js
Due: lint-backend, test-backend

fix lint; isolating e2e tests by scope-limiting
  backend/e2e/auth.e2e.test.js
  backend/e2e/error.e2e.test.js
  backend/e2e/llm-vector.e2e.test.js
  backend/e2e/shared/test-constants.js
  backend/e2e/statistics.e2e.test.js
  backend/e2e/sync.e2e.test.js
  backend/e2e/template.e2e.test.js
  backend/e2e/user.e2e.test.js
  backend/src/routers/integrationRouter.js
Due: lint-backend, test-backend

provide 100% compatibility of `workflow` API endpoints of backend-v2 to backend
  backend-v2/go.mod
  backend-v2/internal/middlewares/extract-user-id.go
  backend-v2/internal/middlewares/require-auth.go
  backend-v2/internal/models/workflow.go
  backend-v2/internal/modules/router/register.go
  backend-v2/internal/modules/workflow/additional-handlers.go
  backend-v2/internal/modules/workflow/controller.go
  backend-v2/internal/modules/workflow/middleware.go
  backend-v2/internal/modules/workflow/register.go
  backend-v2/internal/modules/workflow/service.go
  backend/package.json
Due: lint-backend, test-backend

Fix statistics waitlist tests unique constraint cleanup; Add Integration success tests for external APIs; Add edge case tests for Integration, Sync, Auth; Complete Auth endpoint coverage to 100%
  .vscode/settings.json
  backend/e2e/auth.e2e.test.js
  backend/e2e/integration.e2e.test.js
  backend/e2e/llm-vector.e2e.test.js
  backend/e2e/shared/fixtures.js
  backend/e2e/statistics.e2e.test.js
  backend/e2e/sync.e2e.test.js
  backend/e2e/user.e2e.test.js
Due: lint-backend, test-backend

Add dependency injection for email service in Go backend-v2
  backend-v2/Dockerfile
  backend-v2/go.mod
  backend-v2/internal/modules/auth/controller.go
  backend-v2/internal/modules/auth/controller_test.go
  backend-v2/internal/modules/auth/register.go
  backend-v2/internal/modules/router/register.go
  backend-v2/internal/services/email/noop_service.go
  backend-v2/internal/services/email/service.go
  backend-v2/internal/services/email/smtp_service.go
Due: none

Continue converting statistics and macro e2e tests to HTTP-only pattern; Reduce conditional branches from 17 to 12 in e2e tests
  backend/e2e/macro.e2e.test.js
  backend/e2e/statistics.e2e.test.js
  backend/e2e/workflow.e2e.test.js
Due: lint-backend, test-backend

simplify e2e tests removing :http variant
  backend/e2e/auth.e2e.test.js
  backend/e2e/error.e2e.test.js
  backend/e2e/integration.e2e.test.js
  backend/e2e/llm-vector.e2e.test.js
  backend/e2e/macro.e2e.test.js
  backend/e2e/setup.js
  backend/e2e/shared/http-mode-helpers.js
  backend/e2e/shared/test-data-factory.js
  backend/e2e/statistics.e2e.test.js
  backend/e2e/sync.e2e.test.js
  backend/e2e/template.e2e.test.js
  backend/e2e/unauth.e2e.test.js
  backend/e2e/url-thumbnail.e2e.test.js
  backend/e2e/user.e2e.test.js
  backend/e2e/workflow.e2e.test.js
  backend/package.json
Due: lint-backend, test-backend

Fix workflow limit test setup and statistics userId routing; go backend adjustments to fit e2e tests; cleanup; auth and security tests
  backend-v2/internal/config/config.go
  backend-v2/internal/database/mongo.go
  backend-v2/internal/middlewares/extract-user-id.go
  backend-v2/internal/modules/statistics/controller.go
  backend-v2/internal/modules/workflow/additional-handlers.go
  backend-v2/internal/modules/workflow/controller.go
  backend-v2/internal/modules/workflow/register.go
  backend-v2/internal/modules/workflow/service.go
  backend-v2/internal/services/email/smtp_service.go
  backend/e2e/security-jwt-auth.e2e.test.js
  backend/e2e/security-rbac-sharing.e2e.test.js
  backend/e2e/workflow.e2e.test.js
  backend/package.json
Due: lint-backend, test-backend

fix security tests; scripts and env config; improve JWT auth and user api
  .gitignore
  backend-v2/.gitignore
  backend-v2/internal/common/jwt.go
  backend-v2/internal/modules/auth/controller.go
  backend-v2/internal/modules/auth/service.go
  backend-v2/internal/modules/integration/register.go
  backend-v2/internal/modules/user/controller.go
  backend-v2/internal/modules/user/register.go
  backend-v2/internal/modules/user/service.go
  backend-v2/start-dev.sh
  backend-v2/start-e2e.sh
  backend-v2/start-production.sh
  backend-v2/start.sh
  backend/e2e/security-jwt-auth.e2e.test.js
  backend/e2e/security-rbac-sharing.e2e.test.js
  frontend/vite.config.ts
Due: lint-frontend, lint-backend, test-backend

11-char workflow IDs, 100k combinations; pre-commit hook; makefile
  .git-hooks/pre-commit
  Makefile
  backend-v2/Makefile
  backend-v2/README.md
  backend-v2/internal/common/utils/generate_id.go
  backend-v2/start-dev.sh
  backend-v2/start-e2e.sh
  backend-v2/start.sh
  backend-v2/stop.sh
  frontend/src/shared/composables/use-api-mutation.ts
Due: lint-frontend

.gitignore cleanup; Fix lack of error response abstraction (173 > 10 locations).
  .gitignore
  backend-v2/.gitignore
  backend-v2/internal/common/response/error.go
  backend-v2/internal/modules/auth/controller.go
  backend-v2/internal/modules/clienterror/controller.go
  backend-v2/internal/modules/integration/claude_controller.go
  backend-v2/internal/modules/integration/controller.go
  backend-v2/internal/modules/integration/freepik_controller.go
  backend-v2/internal/modules/integration/midjourney_controller.go
  backend-v2/internal/modules/integration/openai_controller.go
  backend-v2/internal/modules/integration/perplexity_controller.go
  backend-v2/internal/modules/integration/yandex_controller.go
  backend-v2/internal/modules/integration/zoom_controller.go
  backend-v2/internal/modules/llmvector/controller.go
  backend-v2/internal/modules/macro/controller.go
  backend-v2/internal/modules/macro/middleware.go
  backend-v2/internal/modules/statistics/controller.go
  backend-v2/internal/modules/sync/controller.go
  backend-v2/internal/modules/template/controller.go
  backend-v2/internal/modules/template/middleware.go
  backend-v2/internal/modules/urlthumbnail/controller.go
  backend-v2/internal/modules/user/controller.go
  backend-v2/internal/modules/workflow/additional-handlers.go
  backend-v2/internal/modules/workflow/controller.go
  backend-v2/internal/modules/workflow/middleware.go
  backend/.gitignore
  frontend/.gitignore
  plugins/chat-popup/.gitignore
Due: lint-frontend, lint-backend, test-backend

Dual backend routing; shared HTTP utilities with comprehensive tests
  README.md
  backend-v2/internal/common/http/client.go
  backend-v2/internal/common/http/client_test.go
  backend-v2/internal/common/http/headers.go
  backend-v2/internal/common/http/headers_test.go
  backend-v2/internal/common/http/response.go
  backend-v2/internal/common/http/response_test.go
  backend-v2/internal/modules/auth/controller_test.go
  backend-v2/internal/modules/gateway/config.go
  backend-v2/internal/modules/gateway/config_test.go
  backend-v2/internal/modules/gateway/proxy.go
  backend-v2/internal/modules/gateway/proxy_test.go
  backend-v2/internal/modules/gateway/register.go
  backend-v2/internal/modules/gateway/routes.go
  backend-v2/internal/modules/gateway/routes_test.go
  backend-v2/internal/modules/router/register.go
  backend-v2/internal/services/llmproxy/auth_test.go
  backend-v2/internal/services/llmproxy/config_test.go
  backend-v2/internal/services/llmproxy/prod.go
  backend-v2/internal/services/llmproxy/proxy.go
  backend-v2/internal/services/llmproxy/proxy_test.go
Due: none
