Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*

Add /refine :n=N multi-candidate selection with LLM judge, robust non-numeric judge response parsing, and StoreFork memory guard
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.postprocess.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.refineN.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.roundtrip.integration.test.js
  backend/src/controllers/commandExecutor/commands/utils/serializeNodeTree.js
  backend/src/controllers/commandExecutor/commands/utils/serializeNodeTree.test.js
  backend/src/controllers/commandExecutor/reliability/core/LLMJudge.js
  backend/src/controllers/commandExecutor/reliability/core/LLMJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/StoreFork.js
  backend/src/controllers/commandExecutor/reliability/core/StoreFork.test.js
  backend/src/controllers/commandExecutor/reliability/index.js
  backend/src/controllers/commandExecutor/reliability/strategies/RefineNStrategy.js
  backend/src/controllers/commandExecutor/reliability/strategies/RefineNStrategy.test.js
Due: lint-backend, test-backend

P0.1 remove legacy iterative /refine; bare /refine now parse-time errors
  backend/src/controllers/commandExecutor/ExecutorController.test.js
  backend/src/controllers/commandExecutor/commands/RefineCommand.js
  backend/src/controllers/commandExecutor/commands/RefineCommand.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.integrations.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.postprocess.test.js
  backend/src/controllers/commandExecutor/reliability/CommandFactory.js
  backend/src/controllers/commandExecutor/reliability/CommandFactory.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.test.js
Due: lint-backend, test-backend

Add AAD migration deadline enforcement for encrypted integration field decryption
  backend/package.json
  backend/src/mcp-servers/cli/ExitHandler.js
  backend/src/mcp-servers/cli/ToolInvoker.js
  backend/src/mcp-servers/cli/__tests__/ToolInvoker.test.js
  backend/src/mcp-servers/cli/__tests__/cli.integration.test.js
  backend/src/models/utils/aadMigrationDeadline.js
  backend/src/models/utils/aadMigrationDeadline.test.js
  backend/src/models/utils/decryptStrategy.js
  backend/src/models/utils/decryptStrategy.test.js
  backend/src/models/utils/dualKeyDecryptStrategy.js
  backend/src/models/utils/dualKeyDecryptStrategy.test.js
  backend/src/models/utils/fieldEncryption.js
  backend/src/models/utils/fieldEncryption.migration.test.js
  frontend/e2e/helpers/index.ts
  frontend/e2e/helpers/llm-validation-mock.test.ts
  frontend/e2e/helpers/llm-validation-mock.ts
  frontend/e2e/integrations.spec.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Fix MCP/RPC presets to use compiled node paths instead of babel-node src/ paths
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/d5-backend-paths.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/mcp-presets.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/mcp-presets.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.ts
Due: lint-frontend, e2e-frontend

Fix cheerio ESM import crash, remove dead getSchema methods from MCP tools, and align tests to SDK 1.27 tool() API
  backend/src/controllers/utils/html.js
  backend/src/mcp-servers/outliner/__tests__/tools/OutlineTool.test.js
  backend/src/mcp-servers/outliner/__tests__/tools/ToolRegistry.test.js
  backend/src/mcp-servers/outliner/tools/OutlineTool.js
  backend/src/mcp-servers/research-rag/__tests__/tools/ToolRegistry.test.js
  backend/src/mcp-servers/research-rag/__tests__/tools/toolSchemas.test.js
  backend/src/mcp-servers/research-rag/tools/KnowledgeBaseQueryTool.js
  backend/src/mcp-servers/research-rag/tools/MemorizeContentTool.js
  backend/src/mcp-servers/research-rag/tools/ScholarSearchQATool.js
  backend/src/mcp-servers/research-rag/tools/WebSearchQATool.js
  backend/src/mcp-servers/scraper/__tests__/tools/ScrapeTool.test.js
  backend/src/mcp-servers/scraper/__tests__/tools/ToolRegistry.test.js
  backend/src/mcp-servers/scraper/tools/ScrapeTool.js
Due: lint-backend, test-backend

Fix E2E tests
  frontend/e2e/api-auth-integration.spec.ts
Due: lint-frontend, e2e-frontend

Extract establishWorkerSession into worker-session fixture with dedicated playwright.fixtures.config and unit-test suite
  Makefile
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.test.js
  backend/src/services/__tests__/container.test.js
  frontend/e2e/fixtures/establish-worker-session.test.ts
  frontend/e2e/fixtures/parallel-user-test.ts
  frontend/e2e/fixtures/worker-session.ts
  frontend/package.json
  frontend/playwright.fixtures.config.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

complete engine - /validate retry with failure suffix, /refine :n=N end-to-end wiring, juror quorum exclusion, fork-local ref isolation
  Makefile
  backend-v2/e2e/jest.config.js
  backend-v2/e2e/shared/test-data-factory.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandRefine.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/reliability/core/CriteriaFailedError.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/ModelFamilyRouter.js
  backend/src/controllers/commandExecutor/reliability/core/ModelFamilyRouter.test.js
  backend/src/controllers/commandExecutor/reliability/core/OwnershipResolver.js
  backend/src/controllers/commandExecutor/reliability/core/OwnershipResolver.test.js
  backend/src/controllers/commandExecutor/reliability/core/RefineTopology.js
  backend/src/controllers/commandExecutor/reliability/core/RefineTopology.test.js
  backend/src/controllers/commandExecutor/reliability/core/StoreFork.js
  backend/src/controllers/commandExecutor/reliability/core/StoreFork.test.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.test.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.test.js
  backend/src/controllers/commandExecutor/reliability/core/forkCostProjector.js
  backend/src/controllers/commandExecutor/reliability/core/forkCostProjector.test.js
  backend/src/controllers/commandExecutor/reliability/core/forkLimitParser.js
  backend/src/controllers/commandExecutor/reliability/core/forkLimitParser.test.js
  backend/src/controllers/commandExecutor/reliability/core/forkLocalRef.test.js
  backend/src/controllers/commandExecutor/reliability/core/refineParams.js
  backend/src/controllers/commandExecutor/reliability/core/refineParams.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/validateParams.js
  backend/src/controllers/commandExecutor/reliability/core/validateParams.test.js
  backend/src/controllers/commandExecutor/reliability/index.js
Due: lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Fix CI
  .github/workflows/ci.yml
  backend-v2/Dockerfile
Due: lint-docker-backend-v2, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

engine hardening - rankingParser SRP extraction, noSignal degenerate-case guard, tight suffix regex parity, root node_modules gitignore fix
  .gitignore
  backend/src/controllers/commandExecutor/commands/utils/Store.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.postprocess.test.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/liveSmoke.test.js
  backend/src/controllers/commandExecutor/reliability/core/nestedRefineMemoization.test.js
  backend/src/controllers/commandExecutor/reliability/core/rankingParser.js
  backend/src/controllers/commandExecutor/reliability/core/rankingParser.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.test.js
  frontend/src/shared/lib/__tests__/reliability-suffix.test.ts
  frontend/src/shared/lib/reliability-suffix.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

NoopLLM behind MOCK_EXTERNAL_SERVICES + isolated e2e Node.js for e2e-frontend (local + CI)
  .github/workflows/ci.yml
  Makefile
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsResolver.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsResolver.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ForkContentSynthesizer.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ForkContentSynthesizer.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopChatModel.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopChatModel.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/index.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/index.test.js
  frontend/e2e/reliability-best-of-n.spec.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

noopllm for tests
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ForkContentSynthesizer.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ForkContentSynthesizer.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopChatModel.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopChatModel.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/index.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/index.test.js
Due: lint-backend, test-backend

Fix E2E
  backend/src/controllers/commandExecutor/commands/ChatCommand.js
  backend/src/controllers/commandExecutor/commands/ChatCommand.test.js
  backend/src/controllers/commandExecutor/commands/CompletionCommand.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsLoader.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsLoader.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getModelSettings.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getModelSettings.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopChatModel.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/constants/index.js
  backend/src/controllers/commandExecutor/reliability/core/CommodityForkRunner.js
  backend/src/controllers/commandExecutor/reliability/core/CommodityForkRunner.test.js
  backend/src/controllers/commandExecutor/reliability/core/commodityForkParams.js
  backend/src/controllers/commandExecutor/reliability/core/commodityForkParams.test.js
  backend/src/controllers/commandExecutor/reliability/index.js
  backend/src/mcp-servers/shared/__tests__/context/UserContextProvider.test.js
  backend/src/mcp-servers/shared/context/UserContextProvider.js
  frontend/e2e/fixtures/parallel-user-test.ts
  frontend/e2e/helpers/wait-helpers.ts
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Fix E2E
  .github/workflows/ci.yml
Due: none

Clear leaked radial-flash poll timer on unmount
  frontend/src/shared/ui/genie/radial-flash.tsx
Due: lint-frontend, e2e-frontend

MCP and ACP subprocesses now refuse to start unless bwrap sandbox is available, and run network-isolated by default unless the caller opts in
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.js
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPConnection.js
  backend/src/controllers/commandExecutor/commands/sandbox/ProcessSandbox.js
  backend/src/controllers/commandExecutor/commands/sandbox/ProcessSandbox.test.js
  backend/src/controllers/commandExecutor/commands/sandbox/bwrapArgBuilder.js
  backend/src/controllers/commandExecutor/commands/sandbox/bwrapArgBuilder.test.js
Due: lint-backend, test-backend

Fix E2E tests
  backend-v2/e2e/integration.e2e.test.js
  backend-v2/e2e/package.json
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/e2e/node-detail-panel.spec.ts
  frontend/src/entities/auth/api/__tests__/use-auth.test.ts
  frontend/src/entities/auth/api/use-auth.ts
  frontend/src/pages/password-recover/ui/forgot-password.tsx
  frontend/src/pages/password-recover/ui/reset-password.tsx
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

refine-validate engine: strict mode shows [⚠ no judge signal] instead of false [✗ 0/N] when judge produced no usable ranking
  Makefile
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.suffixFlush.test.js
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

`/validate` as workflow root now produces visible `[✗ invalid]` error instead of disabled execute button; frontend command registry consolidated to single source of truth
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  frontend/e2e/reliability-best-of-n.spec.ts
  frontend/e2e/workflow-tree-node-deletion.spec.ts
  frontend/src/shared/lib/__tests__/command-querytype-mapper.test.ts
  frontend/src/shared/lib/command-querytype-mapper.ts
  frontend/src/shared/lib/command-validation/__tests__/command-registry.test.ts
  frontend/src/shared/lib/command-validation/command-registry.ts
  frontend/src/shared/lib/commands/__tests__/command-regex.test.ts
  frontend/src/shared/lib/commands/__tests__/command-validator.test.ts
  frontend/src/shared/lib/commands/command-constants.ts
  frontend/src/shared/lib/commands/command-regex.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

MCP stdio commands now work when the sandboxed Node executable lives under `/opt`, matching GitHub Actions runner layout
  backend/src/controllers/commandExecutor/commands/sandbox/systemDirBinds.js
  backend/src/controllers/commandExecutor/commands/sandbox/systemDirBinds.test.js
Due: lint-backend, test-backend

Make MCP stdio sandbox failures visible before users lose workflow output
  .github/workflows/ci.yml
  backend/src/controllers/commandExecutor/commands/sandbox/bwrapDetector.js
  backend/src/controllers/commandExecutor/commands/sandbox/bwrapDetector.test.js
Due: lint-backend, test-backend

Fix e2e
  frontend/e2e/auth-flows.spec.ts
  frontend/e2e/auth-visibility.spec.ts
  frontend/e2e/dual-sidebar-mobile.spec.ts
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/e2e/helpers/index.ts
  frontend/e2e/helpers/serve-html.ts
  frontend/e2e/helpers/wait-for-auth.test.ts
  frontend/e2e/helpers/wait-for-auth.ts
  frontend/e2e/helpers/wait-for-layout.test.ts
  frontend/e2e/helpers/wait-for-layout.ts
  frontend/e2e/utils/index.ts
Due: lint-frontend, e2e-frontend

Fix e2e: Make MCP/RPC integration scopes safer and mobile add dialogs more reliable
  backend-v2/internal/modules/integration/array_controller.go
  backend-v2/internal/modules/integration/array_item_validator.go
  backend-v2/internal/modules/integration/array_item_validator_test.go
  backend-v2/internal/modules/integration/array_operations.go
  backend/src/controllers/IntegrationController.test.js
  backend/src/repositories/IntegrationRepository.test.js
  frontend/e2e/helpers/wait-for-layout.test.ts
  frontend/e2e/helpers/wait-for-layout.ts
  frontend/e2e/pages/ArrayIntegrationPage.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

make mock backend mode explicit, safer, and testable across startup, settings, LLM routing, and command validation
  .github/workflows/ci.yml
  Makefile
  backend/package.json
  backend/src/config/mockExternalServices.js
  backend/src/config/runtimePreflight.js
  backend/src/config/runtimePreflight.test.js
  backend/src/controllers/commandExecutor/ExecutorController.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsResolver.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsResolver.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/MockExternalServices.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/MockExternalServices.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/index.js
  backend/src/index.test.js
  backend/src/test/env.js
  backend/src/test/mockExternalServicesCases.js
  frontend/e2e/helpers/workflow-node-setup.ts
  frontend/e2e/reliability-best-of-n.spec.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Fix e2e
  frontend/e2e/helpers/workflow-node-setup.ts
  frontend/e2e/pages/ArrayIntegrationPage.ts
Due: lint-frontend, e2e-frontend

Fix backend e2e
  backend-v2/e2e/integration.e2e.test.js
Due: lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Make reliability verdicts honest across fork judging, validation, metadata persistence, and verdict UI
  Makefile
  backend-v2/internal/models/reliability.go
  backend-v2/internal/models/workflow.go
  backend-v2/internal/modules/workflow/reliability_contract_test.go
  backend-v2/internal/modules/workflow/reliability_roundtrip_test.go
  backend-v2/internal/modules/workflow/testdata/reliability_metadata_maximal.json
  backend/src/controllers/commandExecutor/commands/ForeachCommandValidate.test.js
  backend/src/controllers/commandExecutor/commands/utils/ImportHandler.js
  backend/src/controllers/commandExecutor/commands/utils/ImportHandler.test.js
  backend/src/controllers/commandExecutor/commands/utils/Store.js
  backend/src/controllers/commandExecutor/commands/utils/executionNodeStatus.js
  backend/src/controllers/commandExecutor/commands/utils/executionNodeStatus.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.integrations.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/commands/utils/validate/index.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/StoreExecutionSnapshot.js
  backend/src/controllers/commandExecutor/reliability/core/StoreExecutionSnapshot.test.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.test.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataContract.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.tiebreak.integration.test.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.test.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGateDrift.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGateDrift.test.js
  backend/src/controllers/commandExecutor/reliability/index.js
  frontend/src/shared/base-types/workflow.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/lib/intl/ru.ts
  frontend/src/widgets/workflow/ui/__tests__/criterion-verdict-drawer.test.tsx
  frontend/src/widgets/workflow/ui/criterion-verdict-drawer.tsx
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Make commodity fork results honest across reruns and expose reliability verdict details without hiding limits from the user
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.test.js
  backend/src/controllers/commandExecutor/reliability/core/commodityForkMerge.js
  backend/src/controllers/commandExecutor/reliability/core/commodityForkMerge.test.js
  frontend/e2e/reliability-best-of-n.spec.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/lib/intl/ru.ts
  frontend/src/widgets/workflow/ui/__tests__/criterion-verdict-drawer.test.tsx
  frontend/src/widgets/workflow/ui/__tests__/discarded-forks-drawer.test.tsx
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/src/widgets/workflow/ui/criterion-verdict-drawer.tsx
  frontend/src/widgets/workflow/ui/discarded-forks-drawer.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Sidebar build label now shows the real working-tree revision (with `[dirty]` marker) from one shared source that also serves `/revision`
  Makefile
  backend-v2/Dockerfile
  backend-v2/e2e/workflow.e2e.test.js
  backend-v2/internal/config/config.go
  backend-v2/internal/config/config_test.go
  backend-v2/internal/modules/unauth/controller.go
  backend-v2/internal/modules/unauth/controller_test.go
  backend-v2/internal/modules/unauth/register.go
  backend/package.json
  backend/scripts/bakeRevision.js
  backend/src/middlewares/buildRevision.js
  backend/src/middlewares/buildRevision.test.js
  backend/src/revision/bakedRevision.js
  backend/src/routers/unauthRouter.js
  frontend/eslint.config.js
  frontend/plugins/revision-plugin.test.ts
  frontend/plugins/revision-plugin.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/shared/__tests__/build-revision.test.ts
  frontend/src/shared/build-revision.ts
  frontend/src/shared/lib/reliability/__tests__/judge-quality-warnings.test.ts
  frontend/src/shared/lib/reliability/judge-quality-warnings.ts
  frontend/src/shared/ui/version.tsx
  frontend/src/types/vite-env.d.ts
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  scripts/ci-helpers.sh
  scripts/probe-revision.sh
  scripts/revision.sh
  scripts/revision.test.sh
Due: lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Make built-in commands one shared source so frontend and backend agree, drop the unsupported acp-ssh RPC protocol, and add tests that fail if the two sides ever drift apart
  backend-v2/internal/modules/integration/array_item_validator.go
  backend-v2/internal/modules/integration/array_item_validator_test.go
  frontend/src/shared/lib/__tests__/builtin-command-aliases.test.ts
  frontend/src/shared/lib/__tests__/command-querytype-mapper.test.ts
  frontend/src/shared/lib/builtin-command-aliases.ts
  frontend/src/shared/lib/command-querytype-mapper.ts
  frontend/src/shared/lib/command-validation/__tests__/command-registry.test.ts
  frontend/src/shared/lib/command-validation/command-registry.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

fix CI
  backend/src/controllers/commandExecutor/commands/DownloadCommand.localFetch.test.js
Due: lint-backend, test-backend

Make slash-command lookalikes fail visibly and add D5 CLI SSH RPC presets without backend path assumptions
  backend/src/controllers/commandExecutor/commands/utils/commandRecognition.js
  backend/src/controllers/commandExecutor/commands/utils/commandRecognition.test.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.test.js
  backend/src/controllers/commandExecutor/constants/commandBoundaryCases.testData.js
  backend/src/controllers/commandExecutor/constants/index.js
  backend/src/controllers/commandExecutor/constants/matchesCommand.js
  backend/src/controllers/commandExecutor/constants/matchesCommand.test.js
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/d5-internal-server-refs.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/d5-internal-server-refs.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend
