Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

lint-docker-frontend:
  retry: 2
  before_script:
  - cd frontend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  retry: 2
  before_script:
  - cd backend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend-v2:
  retry: 2
  stage: lint
  image: hadolint/hadolint:latest-debian
  before_script:
  - cd backend-v2
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: node:22-alpine
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

lint-backend-v2:
  retry: 2
  stage: lint
  image: golangci/golangci-lint:v1.62-alpine
  before_script:
  - cd backend-v2
  script:
  - golangci-lint run --timeout=5m

test-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  script:
  - npm ci
  - DEBUG="infinity:*" npm run test
  artifacts:
  ...

test-backend-v2:
  retry: 2
  stage: test
  image: golang:1.25-alpine
  before_script:
  - cd backend-v2
  script:
  - apk add --no-cache git
  - go mod download
  - go test -v -coverprofile=coverage.out ./...
  - go tool cover -func=coverage.out
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

e2e-backend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

e2e-frontend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

Consolidate alias validation into single module and unify MCP alias resolution through queryTypeResolver
  backend/src/controllers/commandExecutor/ExecutorController.js
  backend/src/controllers/commandExecutor/commands/StepsCommand.test.js
  backend/src/controllers/commandExecutor/commands/aliases/aliasValidation.js
  backend/src/controllers/commandExecutor/commands/aliases/aliasValidation.test.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.js
  backend/src/controllers/commandExecutor/commands/mcp/aliasResolver.js
  backend/src/controllers/commandExecutor/commands/mcp/aliasResolver.test.js
  backend/src/controllers/commandExecutor/commands/utils/queryTypeResolver.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.test.js
Due: lint-backend, test-backend

Add MCP/RPC array item CRUD backend with field registry, routes, and frontend integration UI
  backend-v2/internal/models/integration.go
  backend-v2/internal/modules/integration/array_controller.go
  backend-v2/internal/modules/integration/array_field_registry.go
  backend-v2/internal/modules/integration/array_operations.go
  backend-v2/internal/modules/integration/array_operations_test.go
  backend-v2/internal/modules/integration/register.go
  frontend/e2e/helpers/array-integration-helpers.ts
  frontend/e2e/mcp-rpc-integrations.spec.ts
  frontend/e2e/utils/e2e-env-vars.ts
  frontend/e2e/utils/index.ts
  frontend/src/pages/user-settings/ui/integration/components/array-integration-section.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/integration-category.tsx
  frontend/src/shared/base-types/integration.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add field-level encryption for integration secrets and ACP-local protocol UI with form serialization utilities
  backend/src/controllers/IntegrationController.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/models/Integration.js
  backend/src/models/utils/fieldEncryption.js
  backend/src/models/utils/fieldEncryption.test.js
  frontend/src/pages/user-settings/ui/integration/dialogs/form-serialization.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/form-serialization.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Isolate session state into dedicated collection and add object-level encryption for integration secrets
  backend-v2/internal/models/integration.go
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.test.js
  backend/src/controllers/commandExecutor/commands/aliases/SessionHydrator.js
  backend/src/controllers/commandExecutor/commands/aliases/SessionHydrator.test.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.test.js
  backend/src/models/Integration.js
  backend/src/models/IntegrationSession.js
  backend/src/models/utils/fieldEncryption.js
  backend/src/models/utils/fieldEncryption.test.js
  backend/src/repositories/IntegrationSessionRepository.js
  backend/src/repositories/IntegrationSessionRepository.test.js
  backend/src/scripts/migrateSessionIds.js
  frontend/src/shared/base-types/integration.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Add workflow-scoped integration resolution with two-tier fallback and boundary normalization
  backend/src/controllers/IntegrationController.js
  backend/src/controllers/IntegrationController.test.js
  backend/src/controllers/commandExecutor/ExecutorController.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/controllers/utils/normalizeWorkflowId.js
  backend/src/controllers/utils/normalizeWorkflowId.test.js
  backend/src/models/Integration.js
  backend/src/repositories/IntegrationRepository.js
  backend/src/repositories/IntegrationRepository.test.js
Due: lint-backend, test-backend

Add Node.js-interoperable AES-256-GCM field-level encryption for Go backend integration secrets with document encryptor and wire-format compatibility tests
  backend-v2/internal/common/encryption/cipher.go
  backend-v2/internal/common/encryption/cipher_test.go
  backend-v2/internal/common/encryption/edge_cases_test.go
  backend-v2/internal/common/encryption/factory.go
  backend-v2/internal/common/encryption/field_transformer.go
  backend-v2/internal/common/encryption/field_transformer_test.go
  backend-v2/internal/common/encryption/integration_test.go
  backend-v2/internal/common/encryption/key_derivation.go
  backend-v2/internal/common/encryption/key_derivation_test.go
  backend-v2/internal/common/encryption/marker.go
  backend-v2/internal/common/encryption/marker_test.go
  backend-v2/internal/common/encryption/serializer.go
  backend-v2/internal/common/encryption/serializer_test.go
  backend-v2/internal/common/encryption/service.go
  backend-v2/internal/common/encryption/service_test.go
  backend-v2/internal/modules/integration/document_encryptor.go
  backend-v2/internal/modules/integration/document_encryptor_test.go
  backend-v2/internal/modules/integration/encryption_config.go
Due: lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add dynamic alias recognition in foreach parent context collection and switch command dispatch
  backend/src/controllers/commandExecutor/commands/ForeachCommand.js
  backend/src/controllers/commandExecutor/commands/ForeachCommand.test.js
  backend/src/controllers/commandExecutor/commands/SwitchCommand.js
  backend/src/controllers/commandExecutor/commands/utils/isCommand.js
Due: lint-backend, test-backend

Add MCP/RPC i18n keys, empty state discoverability, and HTTP RPC headers field with array integration E2E coverage
  frontend/e2e/mcp-rpc-integrations.spec.ts
  frontend/src/pages/user-settings/ui/integration/components/array-integration-empty-state.tsx
  frontend/src/pages/user-settings/ui/integration/components/array-integration-section.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/form-serialization.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
  frontend/src/shared/lib/intl/en.ts
Due: lint-frontend, e2e-frontend

Fix E2E tests
  backend-v2/e2e/statistics.e2e.test.js
Due: lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Wire DocumentEncryptor into Go backend integration service encrypt-on-write and decrypt-on-read paths with per-field positional update support
  backend-v2/internal/modules/integration/array_operations.go
  backend-v2/internal/modules/integration/controller.go
  backend-v2/internal/modules/integration/document_encryptor.go
  backend-v2/internal/modules/integration/document_encryptor_test.go
  backend-v2/internal/modules/integration/field_crypto.go
  backend-v2/internal/modules/integration/field_crypto_test.go
  backend-v2/internal/modules/integration/register.go
  backend-v2/internal/modules/integration/service.go
Due: lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Add E2E tests for MCP/RPC integration dialog
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/e2e/pages/ArrayIntegrationPage.ts
Due: lint-frontend, e2e-frontend

Add FormFieldLabel, DeleteConfirmationDialog, IntegrationTypeBadge components with full i18n, accessibility, and responsive E2E coverage for MCP/RPC dialogs
  frontend/e2e/mcp-rpc-accessibility.spec.ts
  frontend/e2e/pages/ArrayIntegrationPage.ts
  frontend/src/pages/user-settings/ui/integration/components/array-integration-section.tsx
  frontend/src/pages/user-settings/ui/integration/components/delete-confirmation-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/components/form-field-label.tsx
  frontend/src/pages/user-settings/ui/integration/components/integration-type-badge.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/integration-category.tsx
  frontend/src/shared/lib/intl/en.ts
Due: lint-frontend, e2e-frontend

Add IntegrationFacade to centralize integration fetch-decrypt lifecycle and decouple consumers from repository and encryption internals
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.js
  backend/src/controllers/commandExecutor/commands/aliases/loadUserAliases.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/repositories/IntegrationFacade.js
  backend/src/repositories/IntegrationFacade.test.js
Due: lint-backend, test-backend

Add capability-aware ACP session resume with fallback-to-new-session strategy and wire lastSessionId through RPCCommand-ACPExecutor-ACPConnection pipeline
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPConnection.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPConnection.resume.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPExecutor.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/ACPExecutor.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/SessionResumeStrategy.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/SessionResumeStrategy.md
  backend/src/controllers/commandExecutor/commands/rpc/acp/SessionResumeStrategy.test.js
Due: lint-backend, test-backend

Add SSE transport support to MCP client for legacy server compatibility across backend, frontend, and validation layers
  backend-v2/internal/modules/integration/array_field_registry.go
  backend/src/controllers/commandExecutor/ExecutorController.js
  backend/src/controllers/commandExecutor/StreamController.js
  backend/src/controllers/commandExecutor/StreamController.test.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.js
  backend/src/controllers/commandExecutor/commands/mcp/createTransport.test.js
  backend/src/controllers/commandExecutor/commands/rpc/acp/SessionResumeStrategy.md
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/constants/mcp.js
  backend/src/controllers/commandExecutor/streaming/StreamBridge.js
  backend/src/controllers/commandExecutor/streaming/StreamBridge.test.js
  backend/src/controllers/commandExecutor/streaming/StreamEvent.js
  backend/src/controllers/commandExecutor/streaming/StreamEvent.test.js
  backend/src/controllers/commandExecutor/streaming/StreamSession.js
  backend/src/controllers/commandExecutor/streaming/StreamSession.test.js
  backend/src/controllers/commandExecutor/streaming/StreamableProgressReporter.js
  backend/src/controllers/commandExecutor/streaming/StreamableProgressReporter.test.js
  backend/src/controllers/commandExecutor/streaming/index.js
  backend/src/routers/executorRouter.js
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/shared/base-types/integration.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Wire StreamBridge shutdown into application exit lifecycle to prevent interval leak
  backend/src/index.js
Due: lint-backend, test-backend

Fix E2E tests
  backend-v2/internal/modules/integration/service.go
  frontend/e2e/mcp-rpc-accessibility.spec.ts
  frontend/e2e/mcp-rpc-integrations-ui.spec.ts
  frontend/e2e/pages/ArrayIntegrationPage.ts
  frontend/src/pages/user-settings/ui/integration/components/array-integration-empty-state.tsx
  frontend/src/pages/user-settings/ui/integration/components/array-integration-section.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/rpc-dialog.tsx
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Fix post-merge CI: babel plugin rename, fetch global, langchain v1 import path
  backend/babel.config.json
  backend/src/controllers/commandExecutor/commands/mcp/MCPToolAdapter.js
  backend/src/controllers/commandExecutor/commands/rpc/HTTPExecutor.js
  backend/src/controllers/commandExecutor/commands/rpc/HTTPExecutor.test.js
Due: lint-backend, test-backend

Fix E2E tests
  frontend/e2e/dual-sidebar-navigation.spec.ts
  frontend/src/widgets/app-layout/hooks/use-route-based-section.ts
Due: lint-frontend, e2e-frontend

Add SSE streaming proxy to Go gateway and real-time progress display to chat plugin with EventSourcePolyfill Bearer auth and graceful POST fallback
  backend-v2/internal/common/http/client.go
  backend-v2/internal/common/http/client_test.go
  backend-v2/internal/common/http/stream.go
  backend-v2/internal/common/http/stream_test.go
  backend-v2/internal/modules/gateway/proxy.go
  backend-v2/internal/modules/gateway/proxy_test.go
  backend-v2/internal/modules/gateway/routes.go
  backend-v2/internal/modules/gateway/routes_test.go
  frontend/src/pages/user-settings/ui/integration/components/array-integration-section.tsx
  plugins/chat-popup/package.json
  plugins/chat-popup/src/Chat/index.tsx
  plugins/chat-popup/src/_lib/MacroExecutor.ts
  plugins/chat-popup/src/_lib/api.ts
  plugins/chat-popup/src/_lib/streaming/ProgressFormatter.test.ts
  plugins/chat-popup/src/_lib/streaming/ProgressFormatter.ts
  plugins/chat-popup/src/_lib/streaming/SSEConnection.test.ts
  plugins/chat-popup/src/_lib/streaming/SSEConnection.ts
  plugins/chat-popup/src/_lib/streaming/StreamingExecutionCoordinator.test.ts
  plugins/chat-popup/src/_lib/streaming/StreamingExecutionCoordinator.ts
  plugins/chat-popup/src/_lib/streaming/index.ts
  plugins/chat-popup/src/test/setup.ts
  plugins/chat-popup/vitest.config.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*
