Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

lint-docker-frontend:
  retry: 2
  before_script:
  - cd frontend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  retry: 2
  before_script:
  - cd backend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend-v2:
  retry: 2
  stage: lint
  image: hadolint/hadolint:latest-debian
  before_script:
  - cd backend-v2
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: node:22-alpine
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

lint-backend-v2:
  retry: 2
  stage: lint
  image: golangci/golangci-lint:v1.62-alpine
  before_script:
  - cd backend-v2
  script:
  - golangci-lint run --timeout=5m

test-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  script:
  - npm ci
  - DEBUG="infinity:*" npm run test
  artifacts:
  ...

test-backend-v2:
  retry: 2
  stage: test
  image: golang:1.25-alpine
  before_script:
  - cd backend-v2
  script:
  - apk add --no-cache git
  - go mod download
  - go test -v -coverprofile=coverage.out ./...
  - go tool cover -func=coverage.out
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

e2e-backend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

e2e-frontend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

Let /elect and /refine carry their term in the same cell, priced and judged exactly as the postfix child form
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandElect.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandRefine.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/constants/matchesCommand.test.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.test.js
  backend/src/controllers/commandExecutor/reliability/core/forkCostProjector.js
  backend/src/controllers/commandExecutor/reliability/core/forkTermMount.js
  backend/src/controllers/commandExecutor/reliability/core/forkTermMount.test.js
  backend/src/controllers/commandExecutor/reliability/core/inlineTermParser.js
  backend/src/controllers/commandExecutor/reliability/core/inlineTermParser.test.js
  backend/src/controllers/commandExecutor/reliability/core/nonGeneratingTermTypes.js
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.equivalence.integration.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.nestedInlineTerm.integration.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/sourceCandidateAdmission.js
  backend/src/controllers/commandExecutor/reliability/core/validateGroup.js
  frontend/src/shared/lib/command-validation/__tests__/command-validator.test.ts
  frontend/src/shared/lib/command-validation/command-validator.ts
  frontend/src/shared/lib/reliability/__tests__/fork-cost-projector-preview.test.ts
  frontend/src/shared/lib/reliability/__tests__/inline-term-parser.test.ts
  frontend/src/shared/lib/reliability/fork-cost-projector.ts
  frontend/src/shared/lib/reliability/inline-term-parser.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Restore tree title editing and show refusal errors on nodes
  frontend/e2e/reliability-structural-guard.spec.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Truncate tree chip titles and expose each node's full title
  frontend/e2e/reliability-fork-limit.spec.ts
  frontend/e2e/reliability-structural-guard.spec.ts
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
Due: lint-frontend, e2e-frontend

Clear lint warnings in the tree and integration tests
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/pages/user-settings/ui/integration/components/array-integration-section.test.tsx
  frontend/src/pages/user-settings/ui/integration/hooks/use-scoped-integrations.test.ts
Due: lint-frontend, e2e-frontend

fix e2e
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.js
Due: lint-backend, test-backend

Replace the stale side-effect-guard reliability spec with the landed external-dispatch refusal proof, and let the e2e disk preflight reclaim its own leftovers
  Makefile
  frontend/e2e/reliability-external-dispatch-refusal.spec.ts
  frontend/e2e/reliability-side-effect-guard.spec.ts
Due: lint-frontend, e2e-frontend

Make /elect reuse the parent output as its first candidate so N forks cost N generations, not N plus one
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandElect.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandNestedReliability.integration.test.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.test.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.test.js
  backend/src/controllers/commandExecutor/reliability/core/forkCostProjector.js
  backend/src/controllers/commandExecutor/reliability/core/forkCostProjector.test.js
  backend/src/controllers/commandExecutor/reliability/core/nestedElectMemoization.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.gateHandoff.integration.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveElectCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/sourceCandidateAdmission.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.test.js
  backend/src/controllers/commandExecutor/reliability/index.js
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/lib/intl/ru.ts
  frontend/src/shared/lib/reliability/__tests__/fork-cost-projector.test.ts
  frontend/src/shared/lib/reliability/fork-cost-projector.ts
  frontend/src/shared/lib/reliability/source-candidate-admission.ts
  frontend/src/widgets/workflow/ui/__tests__/discarded-forks-drawer.test.tsx
  frontend/src/widgets/workflow/ui/discarded-forks-drawer.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
  shared-contracts/reliability-fork-cost-parity-fixtures.json
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*
