Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

lint-docker-frontend:
  retry: 2
  before_script:
  - cd frontend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  retry: 2
  before_script:
  - cd backend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend-v2:
  retry: 2
  stage: lint
  image: hadolint/hadolint:latest-debian
  before_script:
  - cd backend-v2
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: node:22-alpine
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

lint-backend-v2:
  retry: 2
  stage: lint
  image: golangci/golangci-lint:v1.62-alpine
  before_script:
  - cd backend-v2
  script:
  - golangci-lint run --timeout=5m

test-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  script:
  - npm ci
  - DEBUG="infinity:*" npm run test
  artifacts:
  ...

test-backend-v2:
  retry: 2
  stage: test
  image: golang:1.25-alpine
  before_script:
  - cd backend-v2
  script:
  - apk add --no-cache git
  - go mod download
  - go test -v -coverprofile=coverage.out ./...
  - go tool cover -func=coverage.out
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

e2e-backend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

e2e-frontend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

Fix production Genie runtime loading
  frontend/e2e/workflow-tree-phase3.spec.ts
  frontend/src/shared/ui/genie/__tests__/player-runtime.test.ts
  frontend/src/shared/ui/genie/genie.tsx
  frontend/src/shared/ui/genie/player-runtime.ts
  frontend/src/shared/ui/genie/radial-flash.tsx
Due: lint-frontend, e2e-frontend

Separate workflow selection persistence
  frontend/e2e/workflow-tree-phase3.spec.ts
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/hooks/__tests__/use-tree-keyboard-navigation.test.ts
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-checked-selection.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/workflow-checked-selection.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
Due: lint-frontend, e2e-frontend

Fix collapsed root visual state
  frontend/e2e/workflow-tree-phase3.spec.ts
  frontend/src/features/workflow-tree/core/__tests__/tree-walker.test.ts
  frontend/src/features/workflow-tree/core/tree-walker.ts
  frontend/src/features/workflow-tree/hooks/__tests__/tree-expansion.test.ts
  frontend/src/features/workflow-tree/hooks/use-tree-expansion.ts
Due: lint-frontend, e2e-frontend

Fix delayed integration tab readiness
  frontend/e2e/pages/ArrayIntegrationPage.test.ts
  frontend/e2e/pages/ArrayIntegrationPage.ts
Due: lint-frontend, e2e-frontend

Fix Go lint timeout
  .github/workflows/ci.yml
  scripts/ci-helpers.sh
Due: none

Fix CI bubblewrap install hanging on sudo password prompt
  .github/workflows/ci.yml
Due: none

Refactor render-text-to-map: expand-only trigger with executor-parity splitter
  frontend/e2e/page-objects/node-detail-panel.page.ts
  frontend/e2e/workflow-prompt-nodes.spec.ts
  frontend/src/entities/workflow/lib/commandless-node.test.ts
  frontend/src/entities/workflow/lib/commandless-node.ts
  frontend/src/features/workflow-tree/store/__tests__/text-to-prompts-splitter.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-lazy-split.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/text-to-prompts-splitter.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Make /refine winner consumable downstream and guard side-effecting fan-out
  backend-v2/internal/models/reliability.go
  backend-v2/internal/modules/workflow/testdata/reliability_metadata_maximal.json
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.test.js
  backend/src/controllers/commandExecutor/commands/utils/ImportHandler.js
  backend/src/controllers/commandExecutor/commands/utils/ImportHandler.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/ForkLeafExtractor.js
  backend/src/controllers/commandExecutor/reliability/core/ForkLeafExtractor.test.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.test.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.postprocessSummary.test.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.test.js
  backend/src/controllers/commandExecutor/reliability/core/commodityForkMerge.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.test.js
  backend/src/controllers/commandExecutor/reliability/core/refineReferenceResolution.test.js
  backend/src/controllers/commandExecutor/reliability/core/refineWinnerOutput.js
  backend/src/controllers/commandExecutor/reliability/core/refineWinnerOutput.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataContract.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.suffixFlush.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/sideEffectingDispatch.js
  backend/src/controllers/commandExecutor/reliability/core/sideEffectingDispatch.test.js
  backend/src/controllers/commandExecutor/reliability/core/storeSubtreeUtils.js
  backend/src/controllers/commandExecutor/reliability/core/storeSubtreeUtils.test.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.test.js
  backend/src/controllers/commandExecutor/reliability/index.js
  scripts/ci/naming-gate.sh
  scripts/ci/qa-coverage-gate.sh
Due: lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Surface withheld side-effect runs honestly and drop dead reliability scaffolding
  backend/src/controllers/commandExecutor/commands/utils/ImportHandler.js
  backend/src/controllers/commandExecutor/commands/utils/ImportHandler.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.dispatch.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.test.js
  backend/src/controllers/commandExecutor/reliability/core/refineReferenceResolution.test.js
  backend/src/controllers/commandExecutor/reliability/core/refineWinnerOutput.js
  backend/src/controllers/commandExecutor/reliability/core/refineWinnerOutput.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.js
  backend/src/controllers/commandExecutor/reliability/core/structuralGate.test.js
  frontend/src/shared/base-types/workflow.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/lib/intl/ru.ts
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  scripts/ci/naming-gate.sh
  scripts/ci/qa-coverage-gate.sh
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Fix CR-family lazy workflow expansion
  frontend/src/entities/workflow/lib/commandless-node.test.ts
  frontend/src/entities/workflow/lib/commandless-node.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-lazy-split.test.ts
Due: lint-frontend, e2e-frontend

Run side-effecting refine children once across forks and report collapsed counts honestly
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.test.js
  backend/src/controllers/commandExecutor/commands/utils/ImportHandler.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.dispatch.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandRefine.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/reliability/core/ForkLeafExtractor.js
  backend/src/controllers/commandExecutor/reliability/core/ForkLeafExtractor.test.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.test.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.test.js
  backend/src/controllers/commandExecutor/reliability/core/memoSentinels.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataContract.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.suffixFlush.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.tiebreak.integration.test.js
  backend/src/controllers/commandExecutor/reliability/core/suffixGrammar.js
  backend/src/controllers/commandExecutor/reliability/core/suffixGrammarShapes.json
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/lib/intl/ru.ts
  frontend/src/shared/lib/reliability/suffix-grammar-shapes.json
  frontend/src/shared/lib/reliability/suffix-grammar.ts
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Restore refine composition and gate the withheld-retry suffix per cell
  backend-v2/internal/models/reliability.go
  backend-v2/internal/modules/workflow/reliability_roundtrip_test.go
  backend/src/controllers/commandExecutor/commands/utils/runCommand.dispatch.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.js
  backend/src/controllers/commandExecutor/reliability/core/SubtreeForkRunner.test.js
  backend/src/controllers/commandExecutor/reliability/core/refineChildPredicates.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataContract.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.test.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.js
  backend/src/controllers/commandExecutor/reliability/core/resolveRefineCell.test.js
  backend/src/controllers/commandExecutor/reliability/core/suffixGrammar.test.js
  frontend/src/shared/lib/reliability/__tests__/suffix-grammar.test.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Fix lazy-split preview duplication
  frontend/src/features/workflow-tree/hooks/__tests__/use-node-preview.test.ts
  frontend/src/features/workflow-tree/hooks/use-node-preview.ts
Due: lint-frontend, e2e-frontend

Add the withheld-retry engine shape to the e2e suffix corpus
  frontend/e2e/reliability/suffix-patterns.test.ts
Due: lint-frontend, e2e-frontend

Revert "Fix lazy-split preview duplication"
  frontend/src/features/workflow-tree/hooks/__tests__/use-node-preview.test.ts
  frontend/src/features/workflow-tree/hooks/use-node-preview.ts
Due: lint-frontend, e2e-frontend

Fix lazy-split preview provenance
  backend-v2/internal/models/workflow.go
  backend/src/models/Workflow.js
  backend/src/models/Workflow.test.js
  frontend/src/entities/workflow/lib/index.ts
  frontend/src/entities/workflow/lib/merge-workflow-changes.test.ts
  frontend/src/entities/workflow/lib/merge-workflow-changes.ts
  frontend/src/entities/workflow/lib/node-mutations.test.ts
  frontend/src/entities/workflow/lib/node-mutations.ts
  frontend/src/entities/workflow/lib/node-validation.ts
  frontend/src/entities/workflow/lib/reference-resolution/indented-text.ts
  frontend/src/entities/workflow/lib/text-to-prompts-splitter.ts
  frontend/src/entities/workflow/lib/title-projection.test.ts
  frontend/src/entities/workflow/lib/title-projection.ts
  frontend/src/features/workflow-tree/hooks/__tests__/use-node-preview.test.ts
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-lazy-split.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
  frontend/src/features/workflow-tree/store/text-to-prompts-splitter.ts
  frontend/src/features/workflow-tree/store/workflow-store-mutations.ts
  frontend/src/shared/base-types/workflow.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Gate withheld-retry metadata per cell and generate the streaming session id without a secure context
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/shared/lib/generate-id.test.ts
  frontend/src/shared/lib/generate-id.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Carry refine failure feedback through the default model route
  backend/src/controllers/commandExecutor/commands/CompletionCommand.js
  backend/src/controllers/commandExecutor/commands/CompletionCommand.test.js
  backend/src/controllers/commandExecutor/reliability/CommandFactory.js
  backend/src/controllers/commandExecutor/reliability/CommandFactory.test.js
Due: lint-backend, test-backend

fix CI
  .gitlab-ci.yml
  frontend/playwright.config.ts
Due: lint-frontend, e2e-frontend

Complete #327 workflow editor acceptance corrections
  frontend/e2e/node-detail-panel.spec.ts
  frontend/e2e/page-objects/node-detail-panel.page.ts
  frontend/e2e/workflow-tree-phase3.spec.ts
  frontend/src/features/workflow-tree/components/container-renderer.tsx
  frontend/src/features/workflow-tree/components/node-drop-ghost.test.tsx
  frontend/src/features/workflow-tree/components/node-drop-ghost.tsx
  frontend/src/features/workflow-tree/components/segment-row.tsx
  frontend/src/features/workflow-tree/components/tree-node-default-animation.test.tsx
  frontend/src/features/workflow-tree/components/tree-node-default-operations.test.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/components/workflow-segment-tree.tsx
  frontend/src/features/workflow-tree/core/__tests__/tree-node-memo.test.ts
  frontend/src/features/workflow-tree/core/tree-node-memo.ts
  frontend/src/features/workflow-tree/core/types.ts
  frontend/src/features/workflow-tree/lib/node-genie-presenter.test.ts
  frontend/src/features/workflow-tree/lib/node-genie-presenter.ts
  frontend/src/features/workflow-tree/styles/wire-tree.css
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
  frontend/src/shared/ui/genie/__tests__/genie-base.test.tsx
  frontend/src/shared/ui/genie/genie-base.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow-root-header.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Fix duplicate for persisted workflow nodes
  frontend/e2e/workflow-tree-phase3.spec.ts
  frontend/src/entities/workflow/lib/node-mutations.test.ts
  frontend/src/entities/workflow/lib/node-mutations.ts
Due: lint-frontend, e2e-frontend

Restore the historical suffix grammar and the summarizer prefix stripper after the elect rename
  backend/src/controllers/commandExecutor/commands/ElectCommand.test.js
  backend/src/controllers/commandExecutor/commands/SummarizeCommand.js
  backend/src/controllers/commandExecutor/commands/SummarizeCommand.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/SearchRefineLLMChain.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.postprocessSummary.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilitySuffix.test.js
  backend/src/controllers/commandExecutor/reliability/core/suffixGrammar.js
  backend/src/controllers/commandExecutor/reliability/core/suffixGrammar.test.js
  backend/src/controllers/commandExecutor/reliability/core/suffixGrammarShapes.json
  frontend/e2e/reliability-best-of-n.spec.ts
  frontend/src/shared/lib/__tests__/reliability-suffix.test.ts
  frontend/src/shared/lib/reliability/__tests__/suffix-grammar.test.ts
  frontend/src/shared/lib/reliability/suffix-grammar-shapes.json
  frontend/src/shared/lib/reliability/suffix-grammar.ts
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Align workflow thought-tail semantics
  frontend/e2e/workflow-tree-phase3.spec.ts
  frontend/src/features/workflow-tree/components/tree-node-default-operations.test.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
Due: lint-frontend, e2e-frontend

Restore e2e mock runtime parity across the Makefile and both CI hosts
  .github/workflows/ci.yml
  .gitlab-ci.yml
  backend/src/config/runtimePreflight.test.js
  backend/src/test/mockExternalServicesCases.js
  frontend/e2e/playwright-config-contract.test.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Keep fan-out animation stages visible
  frontend/src/features/workflow-tree/context/tree-animation-context.tsx
  frontend/src/features/workflow-tree/core/__tests__/tree-animation-store.test.ts
  frontend/src/features/workflow-tree/core/tree-animation-store.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.test.ts
  frontend/src/features/workflow-tree/virtualization/virtualized-segment-tree.tsx
Due: lint-frontend, e2e-frontend

Trigger fan-out animation from response topology
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
Due: lint-frontend, e2e-frontend

Gate fan-out target and editor on execution state
  frontend/src/features/workflow-tree/components/tree-node-default-animation.test.tsx
  frontend/src/features/workflow-tree/components/tree-node-default-operations.test.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/store/workflow-selectors.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/features/workflow-tree/store/workflow-store-types.ts
  frontend/src/widgets/workflow/ui/command-field.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, e2e-frontend

Pin the hadolint image and clear the two Dockerfile findings it raised
  .gitlab-ci.yml
  scripts/ci-helpers.sh
Due: none

Show clipboard for unparsable commands and add OUTPUT genie chevron
  frontend/src/features/workflow-tree/components/command-node-chip.tsx
  frontend/src/features/workflow-tree/lib/node-genie-presenter.ts
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, e2e-frontend

Propagate generated state to fan-out step descendants
  frontend/src/features/workflow-tree/core/__tests__/tree-walker.test.ts
  frontend/src/features/workflow-tree/core/tree-walker.ts
Due: lint-frontend, e2e-frontend

Refactor #327 workflow editor per code protocol, no behavior change
  frontend/src/features/workflow-tree/components/tree-node-default-animation.test.tsx
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/context/__tests__/tree-animation-context.test.tsx
  frontend/src/features/workflow-tree/context/tree-animation-context.tsx
  frontend/src/features/workflow-tree/core/__tests__/tree-animation-store.test.ts
  frontend/src/features/workflow-tree/core/tree-animation-store.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/widgets/workflow/ui/node-command-composer.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/node-output-section.tsx
  frontend/src/widgets/workflow/ui/workflow-root-header.tsx
Due: lint-frontend, e2e-frontend

Keep fan-out clipboard state to newly generated targets
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
Due: lint-frontend, e2e-frontend

Run the local gate with the pinned Go lint version and build the Go image with the legacy Docker builder
  scripts/ci-helpers.sh
Due: none

Expect the same projected cost from the :limit= refusal before and during execution
  frontend/e2e/reliability-fork-limit.spec.ts
Due: lint-frontend, e2e-frontend

Trim WHAT-type comments to WHY across #327 fan-out work
  frontend/src/features/workflow-tree/core/tree-animation-store.ts
  frontend/src/features/workflow-tree/core/tree-walker.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
  frontend/src/widgets/workflow/ui/node-output-section.tsx
Due: lint-frontend, e2e-frontend

Decouple data-prompt-node from the visual generated state
  frontend/src/features/workflow-tree/components/tree-node-default.tsx
  frontend/src/features/workflow-tree/core/__tests__/tree-walker.test.ts
  frontend/src/features/workflow-tree/core/tree-walker.ts
  frontend/src/features/workflow-tree/core/types.ts
Due: lint-frontend, e2e-frontend

Remove the op27 shared redaction capability from backend-v2
  .github/workflows/ci.yml
  .gitignore
  .gitlab-ci.yml
  Makefile
  backend-v2/Dockerfile
  backend-v2/Makefile
  backend-v2/README.md
  backend-v2/cmd/seed-users/main.go
  backend-v2/docs/redaction-runtime.md
  backend-v2/internal/common/checkedlog/bypass_enforcement_test.go
  backend-v2/internal/common/checkedlog/checker.go
  backend-v2/internal/common/checkedlog/command_test.go
  backend-v2/internal/common/checkedlog/config.go
  backend-v2/internal/common/checkedlog/config_test.go
  backend-v2/internal/common/checkedlog/emitter.go
  backend-v2/internal/common/checkedlog/emitter_test.go
  backend-v2/internal/common/checkedlog/request_logger.go
  backend-v2/internal/common/logger/logger.go
  backend-v2/internal/common/logger/logger_redaction_test.go
  backend-v2/internal/config/config.go
  backend-v2/internal/database/mongo.go
  backend-v2/internal/modules/auth/controller.go
  backend-v2/internal/modules/gateway/proxy_test.go
  backend-v2/internal/modules/gateway/register.go
  backend-v2/internal/modules/gateway/routes.go
  backend-v2/internal/modules/gateway/routes_test.go
  backend-v2/internal/modules/integration/register.go
  backend-v2/internal/modules/integration/register_test.go
  backend-v2/internal/modules/router/register.go
  backend-v2/main.go
  backend-v2/redaction_probe_script_test.go
  backend-v2/redaction_runtime_test.go
  backend-v2/request_logger_redaction_test.go
  backend-v2/scripts/fetch-redaction-package.sh
  backend-v2/scripts/verify-docker-build-prerequisites.sh
  backend-v2/scripts/verify-redaction-runtime.sh
  backend-v2/testdata/redaction-registered-values.json
  docker-compose.yml
  scripts/ci-helpers.sh
Due: lint-docker-backend-v2, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*
