Repository delta5-hq/d5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-docker-frontend, lint-docker-backend, lint-docker-backend-v2, lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

lint-docker-frontend:
  retry: 2
  before_script:
  - cd frontend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend:
  retry: 2
  before_script:
  - cd backend
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
  - /bin/hadolint Dockerfile

lint-docker-backend-v2:
  retry: 2
  stage: lint
  image: hadolint/hadolint:latest-debian
  before_script:
  - cd backend-v2
  script:
  - /bin/hadolint Dockerfile

lint-frontend:
  retry: 2
  before_script:
  - cd frontend
  - npm install -g pnpm@10
  image: node:22-alpine
  cache:
    key: pnpm-store-frontend
    paths:
    - /root/.local/share/pnpm/**/*
  stage: lint
  script:
  - if grep "material-ui/[^/]*'$" src -Rl ; then echo 'Do not import material ui through root' ; false ; fi
  ...

lint-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: lint
  script:
  - npm ci
  - npm run lint

lint-backend-v2:
  retry: 2
  stage: lint
  image: golangci/golangci-lint:v1.62-alpine
  before_script:
  - cd backend-v2
  script:
  - golangci-lint run --timeout=5m

test-backend:
  retry: 2
  before_script:
  - cd backend
  image: node:22-alpine
  cache:
    key: node-modules-backend
    paths:
    - /root/.npm/**/*
  stage: test
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
  script:
  - npm ci
  - DEBUG="infinity:*" npm run test
  artifacts:
  ...

test-backend-v2:
  retry: 2
  stage: test
  image: golang:1.25-alpine
  before_script:
  - cd backend-v2
  script:
  - apk add --no-cache git
  - go mod download
  - go test -v -coverprofile=coverage.out ./...
  - go tool cover -func=coverage.out
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
  ...

e2e-backend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

e2e-frontend:
  retry: 2
  services:
  - name: mongo:4.2.8
    alias: mongo
  variables:
    MONGO_HOST: mongo
    MONGO_PORT: '27017'
    MONGO_DB: delta5_${CI_JOB_ID}
    MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
    E2E_MONGO_URI: mongodb://mongo:27017/delta5_${CI_JOB_ID}
  ...

Add foreach validate and artifact guardrails
  backend/src/controllers/commandExecutor/commands/ForeachCommand.js
  backend/src/controllers/commandExecutor/commands/ForeachCommandValidate.test.js
  backend/src/controllers/commandExecutor/commands/ForeachCommandValidateIntegration.test.js
  backend/src/controllers/commandExecutor/commands/utils/isCommand.js
  backend/src/controllers/commandExecutor/commands/utils/isCommand.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/mcp-servers/cli/__tests__/cli.integration.test.js
  frontend/e2e/reliability-best-of-n.spec.ts
  scripts/ci/__tests__/staged-agent-artifact-gate.test.mjs
  scripts/ci/forbid-staged-agent-artifacts.sh
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Make Custom LLM settings persist model, keep MCP/RPC integration choices executable and editable, and prove the contracts with shared validation tests
  backend-v2/e2e/integration.e2e.test.js
  backend-v2/internal/models/integration.go
  backend-v2/internal/modules/integration/controller.go
  backend-v2/internal/modules/integration/custom_llm_validator_test.go
  backend/src/constants.js
  backend/src/constants.test.js
  backend/src/controllers/commandExecutor/commands/MCPCommand.js
  backend/src/controllers/commandExecutor/commands/RPCCommand.js
  backend/src/controllers/commandExecutor/commands/mcp/internalMCPServerCatalog.js
  backend/src/controllers/commandExecutor/commands/mcp/internalMCPServerCatalog.test.js
  backend/src/controllers/commandExecutor/commands/shared/resolveExternalCommandPrompt.js
  backend/src/controllers/commandExecutor/commands/shared/resolveExternalCommandPrompt.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.integrations.test.js
  backend/src/test-stubs/gen-mcp-server.cjs
  backend/src/test-stubs/transform-mcp-server.cjs
  frontend/src/pages/user-settings/ui/integration/dialogs/custom-llm-dialog.test.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/custom-llm-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.test.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/mcp-dialog.tsx
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/d5-internal-server-refs.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/d5-internal-server-refs.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.test.ts
  frontend/src/pages/user-settings/ui/integration/dialogs/presets/rpc-presets.ts
  frontend/src/shared/config/__tests__/llm-config.test.ts
  frontend/src/shared/config/llm.config.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  shared-contracts/custom-llm-api-types.json
  shared-contracts/internal-mcp-server-catalog.json
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Fix e2e
  .github/workflows/ci.yml
Due: none

Make SSH RPC stdout/close test deterministic by event-loop ordering, and derive the Mongo database name from the connection URI when the env var is unset so backend and e2e tests read one database
  backend-v2/e2e/integration.e2e.test.js
  backend-v2/e2e/shared/test-data-factory.js
  backend-v2/internal/config/config.go
  backend-v2/internal/config/config_test.go
  backend/src/controllers/commandExecutor/commands/rpc/SSHExecutor.test.js
Due: lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

Fix ci
  backend/package.json
Due: lint-backend, test-backend

Bind co-located shared-contracts into the internal MCP server sandbox so the research servers load instead of crashing on spawn
  backend/src/controllers/commandExecutor/commands/sandbox/nodeModulesResolver.js
  backend/src/controllers/commandExecutor/commands/sandbox/nodeModulesResolver.test.js
Due: lint-backend, test-backend

Hide determinism sweep from PR CI
  .github/workflows/backend-determinism.yml
  .github/workflows/ci.yml
Due: none

Validate postprocessed summaries
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.postprocessSummary.test.js
Due: lint-backend, test-backend

Stabilize commodity E2E outcome contracts
  backend/src/controllers/commandExecutor/commands/utils/runCommand.test.js
  frontend/e2e/reliability-best-of-n.spec.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Fix internal research MCP command execution
  backend/src/controllers/commandExecutor/commands/ExtCommand.js
  backend/src/controllers/commandExecutor/commands/ExtCommand.test.js
  backend/src/controllers/commandExecutor/commands/ScholarCommand.js
  backend/src/controllers/commandExecutor/commands/ScholarCommand.test.js
  backend/src/controllers/commandExecutor/commands/WebCommand.js
  backend/src/controllers/commandExecutor/commands/WebCommand.test.js
  backend/src/controllers/commandExecutor/commands/internalResearch/ResearchToolStaticArgs.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/getLLM.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopChatModel.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopChatModel.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/NoopEmbeddings.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/ResponsePlanner.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/index.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/noopLLM/index.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.dispatch.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/constants/ext.js
  backend/src/controllers/commandExecutor/constants/outline.js
  backend/src/mcp-servers/research-rag/__tests__/context/CommandContextAdapter.test.js
  backend/src/mcp-servers/research-rag/__tests__/tools/DelegationIntegration.test.js
  backend/src/mcp-servers/research-rag/context/CommandContextAdapter.js
  backend/src/mcp-servers/research-rag/tools/MemorizeContentTool.js
  frontend/e2e/research-commands-real-workflow.spec.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Cover research MCP flag edge cases
  backend/src/controllers/commandExecutor/commands/internalResearch/MemorizeDispatcher.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.dispatch.test.js
Due: lint-backend, test-backend

Prove research slash flags map cleanly into internal MCP tool arguments
  backend/src/controllers/commandExecutor/commands/internalResearch/ResearchToolStaticArgs.test.js
Due: lint-backend, test-backend

Add e2e test proving workflow-scope integration aliases override, fall back to, and stand in for user-scope aliases at execute time.
  frontend/e2e/external-integration-scope-resolution.spec.ts
Due: lint-frontend, e2e-frontend

Load backend/.env by module-relative path so Makefile launches from repo root see provider keys, not empty env.
  backend/src/constants.env.test.js
  backend/src/constants.js
Due: lint-backend, test-backend

Empty provider API keys in e2e backend launch so unconfigured-provider commands show the credential error instead of inheriting real developer keys, with tests guarding the key list stays in sync.
  Makefile
  backend/src/constants.env.test.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsResolver.js
  backend/src/controllers/commandExecutor/commands/utils/langchain/IntegrationSettingsResolver.test.js
Due: lint-backend, test-backend

Stabilize reliability E2E harness with UI-state wait gates and quarantine the concurrent-write flake, plus centralize the judge warning-condition enum with Node, Go, and TS parity.
  backend-v2/internal/models/reliability.go
  backend-v2/internal/modules/workflow/reliability_roundtrip_test.go
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.js
  backend/src/controllers/commandExecutor/reliability/core/ForkJudge.test.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.test.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.test.js
  frontend/e2e/config/test-timeouts.ts
  frontend/e2e/mcp-rpc-integrations.spec.ts
  frontend/e2e/reliability-best-of-n.spec.ts
  frontend/e2e/reliability/assertions.ts
  frontend/e2e/reliability/execution-waits.test.ts
  frontend/e2e/reliability/execution-waits.ts
  frontend/e2e/reliability/foreach-validate.ts
  frontend/e2e/reliability/node-interaction.ts
  frontend/e2e/reliability/snapshot.test.ts
  frontend/e2e/reliability/snapshot.ts
  frontend/e2e/reliability/suffix-patterns.test.ts
  frontend/e2e/reliability/suffix-patterns.ts
  frontend/e2e/reliability/workflow-lifecycle.ts
  frontend/src/shared/base-types/workflow.ts
Due: lint-frontend, lint-backend, lint-backend-v2, test-backend, test-backend-v2, e2e-backend, e2e-frontend

e2e fix: bring GitLab CI to parity with GitHub CI
  .gitlab-ci.yml
  backend/src/controllers/commandExecutor/commands/sandbox/ProcessSandbox.js
  backend/src/controllers/commandExecutor/commands/sandbox/ProcessSandbox.test.js
Due: lint-backend, test-backend

remove dead preview endpoint and orphaned workflow hooks (tail cleanup T1+T2)
  backend/src/controllers/commandExecutor/PreviewController.js
  backend/src/controllers/commandExecutor/PreviewController.test.js
  backend/src/routers/apiRouter.js
  backend/src/routers/executorRouter.js
  frontend/src/entities/workflow/api/index.ts
  frontend/src/entities/workflow/api/use-workflow-mutation.ts
  frontend/src/entities/workflow/api/use-workflow.ts
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Fix commodity metadata dispatch for MCP and RPC aliases
  backend/src/controllers/commandExecutor/commands/utils/runCommand.dispatch.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/reliability/core/commodityParams.js
  backend/src/controllers/commandExecutor/reliability/core/commodityParams.test.js
Due: lint-backend, test-backend

Finish workflow editor tails: render text into prompt nodes, cover tree shortcuts and prompt behavior, make genie reset configurable, and hide writeable sharing from non-admin users.
  frontend/e2e/page-objects/node-detail-panel.page.ts
  frontend/e2e/workflow-prompt-nodes.spec.ts
  frontend/e2e/workflow-tree-keyboard-shortcuts.spec.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-mutations.test.ts
  frontend/src/shared/lib/__tests__/genie-state-store.test.ts
  frontend/src/shared/lib/genie-state-store.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/src/widgets/workflow/ui/__tests__/workflow-visibility-dialog.test.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
  frontend/src/widgets/workflow/ui/workflow-card/workflow-visibility-dialog.tsx
  frontend/src/widgets/workflow/ui/workflow.tsx
Due: lint-frontend, e2e-frontend

Git hooks come from the tracked directory so they never go stale on any developer machine
  Makefile
Due: none

Guard commodity :n=N against side-effecting MCP/RPC/fusion dispatch
  backend/src/controllers/commandExecutor/commands/utils/runCommand.dispatch.test.js
  backend/src/controllers/commandExecutor/commands/utils/runCommand.js
  backend/src/controllers/commandExecutor/reliability/core/failureSemantics.js
  backend/src/controllers/commandExecutor/reliability/core/reliabilityMetadataFields.js
  backend/src/controllers/commandExecutor/reliability/index.js
  frontend/e2e/reliability-side-effect-guard.spec.ts
  frontend/src/shared/base-types/workflow.ts
  frontend/src/shared/lib/intl/en.ts
  frontend/src/shared/lib/intl/ru.ts
  frontend/src/widgets/workflow/ui/__tests__/node-detail-panel.test.tsx
  frontend/src/widgets/workflow/ui/criterion-verdict-drawer.tsx
  frontend/src/widgets/workflow/ui/node-detail-panel.tsx
Due: lint-frontend, lint-backend, test-backend, e2e-frontend

Add live-browser probe for P0.4 :limit fork-cost refusal
  frontend/e2e/reliability-fork-limit.spec.ts
Due: lint-frontend, e2e-frontend

Stabilize reliability + sharing e2e under the parallel pre-push gate
  Makefile
  backend-v2/cmd/seed-users/main.go
  frontend/e2e/page-objects/workflow-card.page.ts
  frontend/e2e/reliability-best-of-n.spec.ts
  frontend/e2e/reliability/assertions.ts
  frontend/e2e/reliability/node-interaction.ts
  frontend/e2e/reliability/snapshot.ts
  frontend/e2e/reliability/workflow-lifecycle.ts
Due: lint-frontend, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Fix #360 P0.8: /validate :retry reads authoritative prompts, not the stale children subtree
  backend/src/controllers/commandExecutor/commands/utils/runCommandValidate.test.js
  backend/src/controllers/commandExecutor/reliability/core/ValidateCommand.js
Due: lint-backend, test-backend

Close #360 P1.4/P1.5/P1.6: live qa-bot browser spec for verdict drawer, locale, judge-quality
  frontend/e2e/reliability-p1-verdict-locale.spec.ts
Due: lint-frontend, e2e-frontend

Fix #360 CI: de-flake Firefox abort-button e2e (reliability-best-of-n:157)
  frontend/e2e/reliability-best-of-n.spec.ts
Due: lint-frontend, e2e-frontend

De-flake reliability e2e :100 nested-refine and :122 validate-pass (parallel-load)
  frontend/e2e/reliability-best-of-n.spec.ts
Due: lint-frontend, e2e-frontend

Fix #360 streaming-refine 400: gate execute POST on SSE session readiness
  frontend/src/features/workflow-tree/api/streaming/fork-stream-client.test.ts
  frontend/src/features/workflow-tree/api/streaming/fork-stream-client.ts
  frontend/src/features/workflow-tree/store/__tests__/workflow-store-execution.test.ts
  frontend/src/features/workflow-tree/store/workflow-store-execution.ts
Due: lint-frontend, e2e-frontend

QA gap: assert bare /refine structural guard renders in the workflow editor
  frontend/e2e/reliability-structural-guard.spec.ts
Due: lint-frontend, e2e-frontend

Merge branch 'origin/main' into 1327/feature/1327-workflow-editor
  .github/workflows/ci.yml
  .gitignore
  .gitlab-ci.yml
  Makefile
  backend-v2/Dockerfile
  backend-v2/Makefile
  backend-v2/README.md
  backend-v2/cmd/seed-users/main.go
  backend-v2/docs/redaction-runtime.md
  backend-v2/internal/common/checkedlog/bypass_enforcement_test.go
  backend-v2/internal/common/checkedlog/checker.go
  backend-v2/internal/common/checkedlog/command_test.go
  backend-v2/internal/common/checkedlog/config.go
  backend-v2/internal/common/checkedlog/config_test.go
  backend-v2/internal/common/checkedlog/emitter.go
  backend-v2/internal/common/checkedlog/emitter_test.go
  backend-v2/internal/common/checkedlog/request_logger.go
  backend-v2/internal/common/logger/logger.go
  backend-v2/internal/common/logger/logger_redaction_test.go
  backend-v2/internal/config/config.go
  backend-v2/internal/database/mongo.go
  backend-v2/internal/modules/auth/controller.go
  backend-v2/internal/modules/gateway/register.go
  backend-v2/internal/modules/gateway/routes.go
  backend-v2/internal/modules/gateway/routes_test.go
  backend-v2/internal/modules/integration/register.go
  backend-v2/internal/modules/integration/register_test.go
  backend-v2/internal/modules/router/register.go
  backend-v2/main.go
  backend-v2/redaction_probe_script_test.go
  backend-v2/redaction_runtime_test.go
  backend-v2/request_logger_redaction_test.go
  backend-v2/scripts/verify-docker-build-prerequisites.sh
  backend-v2/scripts/verify-redaction-runtime.sh
  backend-v2/testdata/redaction-registered-values.json
  backend-v2/third_party/redaction/redaction-control-value-redaction-control-0.1.2.tgz
  docker-compose.yml
  scripts/ci-helpers.sh
Due: lint-docker-backend-v2, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Widen the #360 refine-suffix e2e wait to LLM_TIMEOUT for streaming completion under load
  frontend/e2e/reliability-best-of-n.spec.ts
Due: lint-frontend, e2e-frontend

guard initial hydration race
  frontend/src/features/workflow-tree/store/__tests__/create-workflow-store.test.ts
  frontend/src/features/workflow-tree/store/create-workflow-store.ts
Due: lint-frontend, e2e-frontend

Merge branch 'origin/main' into 1327/feature/1327-workflow-editor
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Makefile
  backend-v2/Dockerfile
  backend-v2/Makefile
  backend-v2/docs/redaction-runtime.md
  backend-v2/internal/common/checkedlog/command_test.go
  backend-v2/internal/common/checkedlog/config.go
  backend-v2/internal/modules/gateway/proxy_test.go
  backend-v2/redaction_probe_script_test.go
  backend-v2/redaction_runtime_test.go
  backend-v2/request_logger_redaction_test.go
  backend-v2/scripts/fetch-redaction-package.sh
  backend-v2/scripts/verify-docker-build-prerequisites.sh
  backend-v2/scripts/verify-redaction-runtime.sh
  backend-v2/third_party/redaction/redaction-control-value-redaction-control-0.1.2.tgz
Due: lint-docker-backend-v2, lint-backend-v2, test-backend-v2, e2e-backend, e2e-frontend

Update workflow E2E selectors
  frontend/e2e/page-objects/workflow-tree.page.ts
  frontend/e2e/workflow-prompt-nodes.spec.ts
  frontend/e2e/workflow-tree-keyboard-shortcuts.spec.ts
  frontend/e2e/workflow-tree-node-deletion.spec.ts
Due: lint-frontend, e2e-frontend

Fix backend Docker runtime defaults
  backend/Dockerfile
Due: lint-docker-backend, lint-backend, test-backend

Fix workflow title acceptance and hover
  frontend/e2e/page-objects/workflow-tree.page.ts
  frontend/e2e/reliability-best-of-n.spec.ts
  frontend/src/features/workflow-tree/styles/wire-tree.css
Due: lint-frontend, e2e-frontend

Path conditions:
  lint-docker-frontend: any of: frontend/Dockerfile
  lint-docker-backend: any of: backend/Dockerfile
  lint-docker-backend-v2: any of: backend-v2/Dockerfile
  lint-frontend: any of: frontend/**/*
  lint-backend: any of: backend/**/*
  lint-backend-v2: any of: backend-v2/**/*
  test-backend: any of: backend/**/*
  test-backend-v2: any of: backend-v2/**/*
  e2e-backend: any of: backend-v2/**/*
  e2e-frontend: any of: frontend/**/*, backend-v2/**/*
